/**红色**/
.skin-red a{
	color:#c40404;
}
.skin-red .header-info>ul>li:hover a{
    background: #c40404;	
}
.skin-red .navbar{
	background:url(./images/bg.png) repeat-x;
}
.skin-red .navbar .active > a[data-level=top]{
	background:none !important;
}
.skin-red .navbar .active > a[data-level=top]:after{
	background: #ffbd04;
}
.skin-red .navbar:before{
	content: " ";
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    background:url(./images/left.png) no-repeat 300px top;
    height: 61px;
	z-index: 2;
}
.skin-red .navbar-header{
	position: relative;
    z-index: 3;
}


.skin-red .sidebar{
	border-color: #dfdfdf;
	z-index: 3;
}

.skin-red .nav-list > li.active > .submenu:before, 
.skin-red .nav-list > li.active > .submenu > li:before{
	border-color: #cdd1d0;
}
.skin-red .nav-list > li .submenu > li.active > a,.skin-red .nav-list > li .submenu > li > a:hover{
	color: #c40404;
}
.skin-red .nav-list > li .submenu > li.active > a > .menu-icon,.skin-red .nav-list > li .submenu > li a > .menu-icon{
	color: #858585;
}
.skin-red .nav-list > li > .submenu > li:hover:after,
.skin-red .nav-list > li .submenu > li.active:after{
	background: #ffa705;
}
.skin-red .nav-list > li .submenu > li > a:hover,
.skin-red .nav-list > li .submenu > li.active:not(.open) > a,
.skin-red .nav-list > li .submenu > li.active:not(.open) > a:hover{
	background: #ededed;
}
.skin-red .nav-list li.active > a:after{
	border-right-color: #c40404;
}
.skin-red input[type=checkbox].ace:checked + .lbl::before,.skin-red input[type=radio].ace:checked + .lbl::before{
	color:#ff9800;
}
.skin-red input[type=checkbox].ace-switch:checked + .lbl::before,.skin-red input[type=radio].ace-switch:checked + .lbl::before{
	color:#ffffff;
	background-color: #ff9800 !important;
	border-color: #ff9800 !important;
}
.skin-red .pagination > li.active > a, .skin-red .pagination > li.active > a:hover,.skin-red .pagination > li.active > a:focus{
	background-color: #ff9800;
    border-color: #ff9800;
}
.skin-red .page_total .btn{
	background: #ff9800 !important;
	border-color: #ff9800;
}
.skin-red .btn,
.skin-red .ui-dialog button, 
.skin-red .btn1{
	border: 1px solid;
	border-color: #ffa705 !important;
}
.skin-red .form-group .btn{
	border-color: #feb529  !important;
}
.skin-red .page_total .btn-info{
	border-color: #ffffff !important;
	color: #ffffff !important;
}

.skin-red .dropdown-menu > li:hover > a, 
.skin-red .dropdown-menu > li > a:focus, 
.skin-red .dropdown-menu > li > a:active, 
.skin-red .dropdown-menu > li.active > a, 
.skin-red .dropdown-menu > li.active:hover > a{
	background:#8d8d8d !important;
}
.skin-red .form-group .btn-info, 
.skin-red .form-group .btn-info:focus, 
.skin-red .form-group .btn-info.focus{
	background: #ffa705 !important;
    border-color: #ffa705;
    border-radius: 3px;
    color: #fff !important;
}
.skin-red .table .btn.btn-white:hover{
	color: #fff !important;
}
.skin-red .table a{
	color:#474747;
    font-weight: bold;
}
.skin-red .sort-current{
	color: #c40404 !important;
}
.skin-red .btn-sm > .ace-icon{
	margin-right: 0;
}
.skin-red .btn-op-ths :hover{

color:#fff!important;
}
.skin-red .fa-edit:hover, .skin-red .fa-pencil-square-o:hover, .skin-red .fa-eye:hover{
	color:#fff;
}
.skin-red .table .btn.btn-white:hover{
	background:#ffa705 !important;
	color:#fff !important;
	border-color: #ffa705 !important;
	border: 1px solid;
 }
 .skin-red .fa-edit:before:hover, .skin-red .fa-pencil-square-o:before:hover, .skin-red .fa-eye:before:hover{
	 color:#fff!important;
 }
.skin-red .WdateDiv,.skin-red .dpButton{
	background: #c40404;
}
.skin-red .WdateDiv .WdayOn,
.skin-red  .WdateDiv .WwdayOn,
.skin-red  .WdateDiv .Wselday,
.skin-red  .WdateDiv .WotherDayOn{
    background-color: #ffa705;
    color: #fff;
}
.skin-red .nav-list > li > a,.skin-red .nav-list > li > a,.skin-red .nav-list > li.open > a{
    color: #666 ; 
    background: #fff;
}
.skin-red .nav-list > li:hover > a,.skin-red .nav-list > li:hover.open > a{
    color: #c40404 ; 
    background: #fff;
}
.skin-red input {
    outline-color: #ffa705;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}
.skin-red input:focus { 
    outline: none !important;
    border:1px solid;
    box-shadow: 0 0 10px #719ECE;
    border-color: #ffa705;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.skin-red .btn{
	color: #feb529 !important;
}
.skin-red .btn-primary{
	color: #428BCA !important;
}
.skin-red .btn-danger{
	color: #D15B47 !important;
}
.skin-red .btn-default{
	color:#ABBAC3 !important;
}
.skin-red .btn-info{
	color:#6FB3E0 !important;
}
.skin-red .btn-success{
	color:#87B87F !important;
}
.skin-red .btn-warning{
	color:#FFB752 !important;
}
.skin-red .btn-inverse{
	color:#555555 !important;
}
.skin-red .btn-pink{
	color:#D6487E !important;
}
.skin-red .btn-red{
	color:#9585BF !important;
}
.skin-red .btn-yellow{
	color: #FEE188 !important;
}
.skin-red .btn-grey{
	color:#A0A0A0 !important;
}
.skin-red .btn-light{
	color: #E7E7E7 !important;
}
.skin-red .btn-link{
	color:#0088CC !important;
}

.skin-red .btn:hover, 
.skin-red .btn.focus:hover, 
.skin-red .btn:active:hover, 
.skin-red .btn:focus:active, 
.skin-red .open > .btn-info.dropdown-toggle, 
.skin-red .open > .btn-info.dropdown-toggle:hover, 
.skin-red .open > .btn-info.dropdown-toggle:focus, 
.skin-red .open > .btn-info.dropdown-toggle:active,
.skin-red .ui-dialog button:hover, 
.skin-red .ui-dialog button.focus:hover, 
.skin-red .ui-dialog button:active:hover, 
.skin-red .ui-dialog button:focus:active,
.skin-red .btn1:hover, 
.skin-red .btn1.focus:hover, 
.skin-red .btn1:active:hover, 
.skin-red .btn1:focus:active{
	background:#feb529  !important;
	color:#fff !important;
	border-color: #feb529 ;
}
.skin-red .align-right .btn-xs-ths:hover,
.skin-red .btn-xs-ths:hover,
.skin-red .btn.btn-white.btn-default:hover{
	color: #fff !important;
}
.skin-red .navbar .pull-left.navbar-toggle.collapsed,
.skin-red .navbar-toggle.menu-toggler.pull-left
{
	background: #dd1901;
}
.skin-red .navbar .navbar-toggle:hover{
	background: #e92208;

}
.skin-red .navbar .navbar-toggle.display, .skin-red .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed){
	background: #e92208;
}
.skin-red .nav-list > li.active > a,.skin-red .nav-list > li.open > a,.skin-red .nav-list > li > a:focus{
	color: #c40404;
}
@media (max-width: 991px){
	.skin-red .navbar .active > a[data-level=top]{
		 color: #c40404 !important;
		 background:#f8f8f8 !important;
	}
}