/*导航-下拉框*/
.header-info {
	display: block;
	display:none;
	width:150px;
    position: absolute;
    top: 42px;
    right: 0;
    box-shadow: 0px 0px 7px 0px #afafaf;
    background: #fff;
    border-radius: 2px;
}

.header-info:before {
	content: ' ';
	position: absolute;
	right: 23px;
    top: -21px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 14px solid #fff;
    margin: 0 auto;
}
.header-info>ul{
	margin:0;
	position: relative;
    z-index: 2;
}
.header-info>ul>li {	
	height:38px;
	line-height:38px;
	text-overflow: ellipsis;
	white-space: nowrap;
	list-style: none;
}

.header-info>ul>li>a {
	color: #4a4a4a;
	font-size: 14px;
	display: block;
	padding:0 16px;
}

.header-info>ul>li>a .fa{
	margin-right:8px;
}

.header-info>ul>li:hover a {
	color: #fff;
	background:#438EB9;
	text-decoration: none;
}
.header-info>ul>li:hover .header-info-content{
	display:block;
}
.header-info-content{
	display:none;
	position: absolute;
    width: 150px;
    background: #fff;
    left: -150px;
    top: 38px;
	box-shadow: 0px 0px 7px 0px #afafaf;
	padding-top:10px;
}
.header-info-content dl{
	overflow: hidden;
	margin: 0px 20px 14px;
	cursor: pointer;
	position: relative;
}
.header-info-content dt{
	width:15px;
	height:15px;
	float:left;
	background: #fff;
    border-radius: 3px;
}
.header-info-content dd{
	float:left;
	font-size:14px;
	line-height:15px;
	color:#242424;
	margin-left:11px;
}
.header-info-content dd .fa{
	position: absolute;
    right: 0;
	top:2px;
	display:none;
}
.header-info-content dl.selected dd .fa{
	display:block;
}
.header-info-content dl.no-skin dt{
	background: #438EB9;
}
.header-info-content dl.no-skin:hover dd,.header-info-content dl.no-skin.selected dd{
	color:#438EB9;
}
.header-info-content dl.skin-black dt{
	background: #0f1922;	
}
.header-info-content dl.skin-black:hover dd,.header-info-content dl.skin-black.selected dd{
	color:#0f1922;
}
.header-info-content dl.skin-green dt{
	background: #4ea056;	
}
.header-info-content dl.skin-green:hover dd,.header-info-content dl.skin-green.selected dd{
	color:#4ea056;
}
.header-info-content dl.skin-red dt{
	background: #d8001b;	
}
.header-info-content dl.skin-red:hover dd,.header-info-content dl.skin-red.selected dd{
	color:#d8001b;
}
.header-info-content dl.skin-purple dt{
	background: #5966c6;	
}
.header-info-content dl.skin-purple:hover dd,.header-info-content dl.skin-purple.selected dd{
	color:#5966c6;
}
.header-info-content dl.skin-blue dt{
	background: #097fff;	
}
.header-info-content dl.skin-blue:hover dd,.header-info-content dl.skin-blue.selected dd{
	color:#097fff;
}
.header-info-content dl.skin-ViewUI dt{
	background: #1890FF;	
}
.header-info-content dl.skin-ViewUI:hover dd,.header-info-content dl.skin-ViewUI.selected dd{
	color: #1890FF;
}
/*
*liuyan
*2018-04-27
*/
/*滚动条*/

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
}

::-webkit-scrollbar-button {
	background-color: #f8f8f8;
}

::-webkit-scrollbar-track {
	background: #f8f8f8;
}

::-webkit-scrollbar-track-piece {
	background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
	background: #dcdcdc;
	border-radius: 4px;
}

::-webkit-scrollbar-corner {
	background: #f8f8f8;
}

::-webkit-scrollbar-resizer {
	background: #f8f8f8;
}
/*导航*/
.navbar{
	height:61px;
	min-height:61px;
}
.navbar .active > a[data-level=top]{
	background:#62A8D1 !important;
}
.navbar .active > a[data-level=top]:after{
	content: "";
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #ffbd04;
    border-radius: 3px;
}
.nav-list > li .submenu > li.active > a{
    font-weight: bold;	
}
.navbar .navbar-brand{
	 margin-top: 3px !important; 
}
/* .fixed-82 + .main-content-inner{
    padding-top: 112px !important;
} */
.sidebar .ths-top-menu-ul{
	margin-right: 10px !important;
}
/*左侧列表*/
.no-skin .sidebar{
	border-width: 0 3px 0 0;
	border-color: #a7c8dc;
	background: #fff;
}
.no-skin .nav-list > li.active:after{
	display:none;
}
/*//可做选中小三角*/
.nav-list li.active > a:after{
	display:none;	
}
.nav-list > li .submenu > li > a{
	border: none;
	padding: 11px 0 11px 37px;
}
.nav-list > li:before{
	display:none !important;
}
.nav-list > li > .submenu > li:hover:after,.nav-list > li .submenu > li.active:after{
	content: "";
    display: block;
    width: 5px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    background: #438eb9;
}
.no-skin .nav-list > li .submenu > li.active > a > .menu-icon{
	color:#438eb9;
}
.no-skin .nav-list > li .submenu > li > a{
	color: #232323;
	background: none;
    font-size: 14px;
}
.no-skin .nav-list > li .submenu{
	background-color: #f7f7f7;
    border-color: #E5E5E5;
}
.no-skin .nav-list > li .submenu > li > a:hover,
.no-skin .nav-list > li .submenu > li.active:not(.open) > a,
.no-skin .nav-list > li .submenu > li.active:not(.open) > a:hover{
	background: #ededed;
}
.no-skin .nav-list > li{
	border-color: #eeeeee !important;
}
.nav-list > li .submenu > li a > .menu-icon{
	margin-top: 4px;
}
.nav-list > li > a > .menu-icon{
	margin-top: 2px;
}
.no-skin .sidebar-toggle{
	background-color: #ffffff;
    border-color: #eee;
}
/*面包屑*/
.breadcrumbs{
	background-color: #fff;
    min-height: 40px;
	border-bottom: 1px solid #efefef;	
}
.breadcrumbs .page-title{
	color:#262626;
}
/*查询条件*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
	border: 1px solid #d3d3d3;
	color:#4a4a4a;
	border-radius: 3px !important;
}
.input-group input[type="text"]{
	border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.form-group > label[class*="col-"]{
	color:#4a4a4a;
}
.btn-white.btn-default{
	border-color: #d3d3d3;
    color: #acacac !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #c3c3c3;
}
.form-control, select{
	border-radius: 3px !important;
}
.form-control:focus,
select:focus {
 border-color: #c3c3c3;
}

.input-group-btn > .btn{
	border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

/*
.input-group-btn .btn-white.btn-default:hover, 
.input-group-btn .btn-white.btn-default:focus, 
.input-group-btn .btn-white.btn-default.active, 
.input-group-btn .btn-white.btn-default:active, 
.input-group-btn .open > .btn-white.btn-default.dropdown-toggle, 
.input-group-btn .open > .btn-white.btn-default.active.dropdown-toggle{
	background-color: #FFF !important;
	border-color: #c3c3c3;
    color: #acacac !important;
}
*/
/*列表公共样式*/
.table{
	    background-color: #f87272 !important;
}
.table-bordered{
	border: 1px solid #efefef;
}
.table > thead > tr{
	background: #fff;
}
.table > thead > tr > th{
	border-color: #efefef;
}
.table.table-bordered > thead > tr > th:first-child{
	border-left-color: #efefef;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border: 1px solid #efefef;
	color: #6d6d6d;
}

.table > thead > tr > th i.fa{
	color: #a7a7a7;
	font-size: 12px;
	margin-top: 4px;
}
input[type=checkbox].ace + .lbl::before{
	border: 1px solid #bdbdbd;
    box-shadow: none;
    border-radius: 2px;
}
input[type=radio].ace + .lbl::before{
	border: 1px solid #bdbdbd;
    box-shadow: none;
}
/*
.table > tbody > tr:nth-child(even),.table > tbody > tr:nth-child(even):hover{
	background: #fafafa;
}
*/
.table > tbody > tr.active > td{
	background: inherit;
}
input[type=checkbox].ace:hover + .lbl::before, input[type=radio].ace:hover + .lbl::before, input[type=checkbox].ace + .lbl:hover::before, input[type=radio].ace + .lbl:hover::before{
	border: 1px solid #bdbdbd;
}
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th{
	background: inherit;
}
/*列表中的按钮去掉边框*/
button{
	outline: none !important;
	box-shadow: none !important;
}
button.btn:active {
  top: 0px;
}
.btn-white.btn-info:hover,.btn-white.btn-info:focus, .btn-white.btn-info.active, .btn-white.btn-info:active, .open > .btn-white.btn-info.dropdown-toggle, .open > .btn-white.btn-info.active.dropdown-toggle{
	background: none !important;
}
.table .btn.btn-white.no-hover:hover,
.table .btn.btn-white.no-hover:active {
  background: none !important;
}
.btn.btn-white:focus,
.btn.btn-white.active {
  box-shadow:  none !important;
}
.btn.btn-white:focus.btn-bold,
.btn.btn-white.active.btn-bold {
  box-shadow: none !important;
}
.btn,.btn1{
	background: #fff !important;
    color: #6d6d6d !important;
	border-radius: 3px !important;
}
.btn[disabled], .btn1[disabled]{
	background: #fff !important;
}
.btn.focus,
.ui-dialog button.focus, 
.btn1.focus,
.btn:focus,
.ui-dialog button:focus, 
.btn1:focus{
	background: #ffffff !important;
}
/*分页*/
#zcz_page.form-group{
	margin: 0px 12px;
}
.pagination > li.disabled > a, .pager > li.disabled > a, .pagination > li.disabled > a:hover, .pager > li.disabled > a:hover{
	background-color: #fff;
    border-color: #eee;
    z-index: auto;
    border-radius: 3px !important;
	color: #666;
}
.pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus{
    text-shadow: none;
    border-radius: 3px !important;
}
.page_total > div:nth-child(2){
	color: #666;
	padding-top: 2px;
}
.page_total input,.page_total .btn{
	border-radius: 3px !important;
    height: 28px !important;
    margin-top: -4px !important;
    text-align: center;	
}
.pagination > li.disabled > a, .pager > li.disabled > a, .pagination > li.disabled > a:hover, .pager > li.disabled > a:hover{
	background: #fbfbfb !important;
}
.login-layout .btn, .login-layout .btn1{
	background: #428BCA !important;
    color: #fff !important;
}
.dropdown-menu{
	border-radius: 2px !important;
}
.dropdown-menu > li > a{
	color:#6d6d6d !important;
}
.dropdown-menu > li:hover > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active, .dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a{
	color:#fff !important;
}
.form-group .btn-info{
	border: 0px !important;
}
input[type=checkbox].ace:focus + .lbl::before, input[type=radio].ace:focus + .lbl::before{
    border-color: #bdbdbd;
}
.page_total #pageSize{
	margin-right: 10px;
}

@media (max-width: 991px){
	.navbar .active > a[data-level=top]{
		 color: #2B7DBC !important;
		 background:#f8f8f8 !important;
	}
}
/*可点击控件鼠标样式*/
input[onclick]:not([disabled]),td[ondblclick],td[onclick]{
	cursor:pointer;
}
