##单选框
${t}<div class="checkbox-inline">
${t}	<c:forEach var="dictionary" items='${elParam}{dictionaryMap["${controlFormCell.formcellDictionary}"]}'>
${t}		<label>
${t}			<input type="radio" class="ace"#if("$!{controlFormCell.pFormcellId}" == "") name="${modelFieldCodeParam}"#end value="${elParam}{dictionary.dictionary_code}"
${t}				 	#if("$!{controlFormCell.dataValidateEngine}" != "")data-validation-engine="$!{controlFormCell.dataValidateEngine}"#end <c:if test='${elParam}{dictionary.dictionary_code == ${modelFieldCodeValueParam}}'>checked="checked"</c:if>/>
${t}			<span class="lbl">${elParam}{dictionary.dictionary_name}</span>
${t}		</label>
${t}	</c:forEach>
${t}</div>