<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ths.project.dyh.consultation.mapper.ConsultationMapper">

<!--    查询会商列表-->
    <select id="listConsultationInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            PKID,
            CONSULT_TYPE_CODE,
            CONSULT_TYPE_NAME,
            CONSULT_DEPT_CODES,
            CONSULT_DEPT_NAMES,
            CONSULT_THEME,
            CONSULT_SYNOPSIS,
            CONSULT_STATUS,
            CONVERT(VARCHAR(16),CONSULT_TIME,20) AS CONSULT_TIME,
            CONVERT(VARCHAR(16),CONSULT_TIME_END,20) AS CONSULT_TIME_END,
            MEETING_ID,
            MEETING_URL,
            CONSULT_EXPERT,
            CONSULT_MINUTES,
            CONSULT_RESOLUTION,
            USERS,
            PHONES
        FROM
            dbo.T_CONSULTATIONS_INFO
        WHERE DELETE_FLAG = 0
            <if test="START_TIME !=null and START_TIME !=''">
                AND CONSULT_TIME >=#{START_TIME}
            </if>
            <if test="END_TIME !=null and END_TIME !=''">
                AND CONSULT_TIME &lt;=dateadd(day,1,#{END_TIME})
            </if>
            <if test="state !=null and state !=''">
                AND CONSULT_STATUS =#{state}
            </if>
            <if test="consultType !=null and consultType !=''">
                AND CONSULT_TYPE_CODE =#{consultType}
            </if>
            <if test="keyWords !=null and keyWords !=''">
                AND CONSULT_THEME like '%' +#{keyWords} +'%'
            </if>

        order by CREATE_TIME desc
    </select>

<!--    新增/修改会商信息-->
    <insert id="saveConsultationInfo" parameterType="java.util.Map">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT count(1) FROM dbo.T_CONSULTATIONS_INFO WHERE PKID = #{PKID}
        </selectKey>
        <if test="count>0">
            UPDATE dbo.T_CONSULTATIONS_INFO SET
                CONSULT_TYPE_CODE=#{CONSULT_TYPE_CODE},
                CONSULT_TYPE_NAME=#{CONSULT_TYPE_NAME},
                CONSULT_DEPT_CODES=#{CONSULT_DEPT_CODES_STR},
                CONSULT_DEPT_NAMES=#{CONSULT_DEPT_NAMES},
                CONSULT_THEME=#{CONSULT_THEME},
                CONSULT_SYNOPSIS=#{CONSULT_SYNOPSIS},
                CONSULT_STATUS=#{CONSULT_STATUS},
                CONSULT_TIME=#{CONSULT_TIME},
                CONSULT_EXPERT=#{CONSULT_EXPERT},
                <if test='MEETING_ID != null and MEETING_ID != ""'>
                    MEETING_ID=#{MEETING_ID},
                </if>
                <if test='MEETING_URL != null and MEETING_URL != ""'>
                    MEETING_URL=#{MEETING_URL},
                </if>
                CONSULT_MINUTES=#{CONSULT_MINUTES},
                CONSULT_RESOLUTION=#{CONSULT_RESOLUTION}
            WHERE PKID = #{PKID} AND DELETE_FLAG =0
        </if>
        <if test="count==0">
            INSERT
            INTO
                dbo.T_CONSULTATIONS_INFO(
                PKID,
                CONSULT_TYPE_CODE,
                CONSULT_TYPE_NAME,
                CONSULT_DEPT_CODES,
                CONSULT_DEPT_NAMES,
                CONSULT_THEME,
                CONSULT_SYNOPSIS,
                CONSULT_STATUS,
                CONSULT_TIME,
                CONSULT_EXPERT,
                CONSULT_MINUTES,
                CONSULT_RESOLUTION,
                CREATE_TIME,
                <if test='MEETING_ID != null and MEETING_ID != ""'>
                    MEETING_ID,
                </if>
                <if test='MEETING_URL != null and MEETING_URL != ""'>
                    MEETING_URL,
                </if>
                DELETE_FLAG,
                CONSULT_TIME_END

                )
            VALUES
            (
                #{PKID},
                #{CONSULT_TYPE_CODE},
                #{CONSULT_TYPE_NAME},
                #{CONSULT_DEPT_CODES_STR},
                #{CONSULT_DEPT_NAMES},
                #{CONSULT_THEME},
                #{CONSULT_SYNOPSIS},
                #{CONSULT_STATUS},
                #{CONSULT_TIME},
                #{CONSULT_EXPERT},
                #{CONSULT_MINUTES},
                #{CONSULT_RESOLUTION},
                #{CREATE_TIME},
                <if test='MEETING_ID != null and MEETING_ID != ""'>
                    #{MEETING_ID},
                </if>
                <if test='MEETING_URL != null and MEETING_URL != ""'>
                    #{MEETING_URL},
                </if>
                0,
                #{CONSULT_TIME_END}

            )
        </if>
    </insert>

<!--    查询基本信息-->
    <select id="getBaseInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM dbo.T_CONSULTATIONS_INFO WHERE PKID = #{PKID} AND DELETE_FLAG = 0
    </select>

<!--    部门列表-->
    <select id="listDepts" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            DEPT_CODE AS DEPT_ID,
            DEPT_NAME
        FROM dbo.T_CONSULTATIONS_DEPTS
    </select>

    <select id="getPhoneList"  parameterType="java.util.Map" resultType="java.util.Map">
        SELECT  [DEPT_CODE],[USERS], [PHONES]
	    FROM [dbo].[T_CONSULTATIONS_DEPTS]  where DEPT_CODE in
        <foreach collection="deptList" item="dept" separator="," open="(" close=")">
            #{dept}
        </foreach>
    </select>

    <update id="deleteMeeting"  parameterType="java.util.Map" >
    UPDATE [dbo].[T_CONSULTATIONS_INFO]    SET[DELETE_FLAG]=1      WHERE [PKID]=#{pkid}
    </update>

    <select id="cheakTime" parameterType="java.util.Map" resultType="java.util.Map">
        select * from [dbo].[T_CONSULTATIONS_INFO] where
        CONSULT_TYPE_CODE != 'FAST_MEETING'
        and DELETE_FLAG = 0
        <![CDATA[ and ((CONSULT_TIME < #{CONSULT_TIME} ]]> and  CONSULT_TIME_END > #{CONSULT_TIME}   )
        or <![CDATA[(CONSULT_TIME < #{CONSULT_TIME_END} ]]> and    CONSULT_TIME_END > #{CONSULT_TIME_END} ))

    </select>
</mapper>