<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ths.project.api.assessment.mapper.GoalAssessmentMapper">
    <!--计算年度、季度、月度的优良率-->
    <select id="queryQuarterlyGoalAssessment" parameterType="map"
            resultType="ths.project.api.assessment.entity.GoalAssessment">
<choose>
    <when test='QUARTERLY.split("-")[1]=="1"'>
        SELECT
        T1.QUARTERLYGOODRATE goodRate,
        T1.QUARTERLYEXCELLENTRATE excellentRate,
        T2.OLDQUARTERLYEXCELLENTRATE oldExcellentRate ,
        ( T1.QUARTERLYEXCELLENTRATE - T2.OLDQUARTERLYEXCELLENTRATE ) AS goodRateRiseOrFall,
        T1.QUARTERLYPM25UPPER pm25Upper,
        T1.QUARTERLYPM25 pm25,
        T2.OLDQUARTERLYPM25 AS oldPm25,
        T1.QUARTERLYO3UPPER o3upper,
        CAST(T1.QUARTERLYO3 AS DECIMAL ) AS o3,
        CAST(T2.OLDQUARTERLYO3 AS DECIMAL ) AS oldO3,
        T1.MONITOR_DATE
        FROM
        (
        select
        A.GOODRATE QUARTERLYGOODRATE,
        B.GOODDAYS QUARTERLYEXCELLENTRATE,
        A.PM25UPPER QUARTERLYPM25UPPER,
        B.PM25 QUARTERLYPM25,
        A.O3UPPER QUARTERLYO3UPPER,
        B.O3 QUARTERLYO3,
        CONVERT(VARCHAR(10),B.END_TIME,23) MONITOR_DATE
        from
        cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
        LEFT JOIN DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA B ON A.REGIONCODE = B.REGION_CODE
        WHERE
        A.TYPE = 'QUARTERLY'
        AND A.YEAR = #{QUARTERLY}
        AND A.REGIONNAME  = '成都市'
        AND B.TIME_TYPE='year'
        AND B.END_TIME = ( SELECT MAX ( END_TIME ) FROM DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA)
        ) T1
        LEFT JOIN(
        select
        A.GOODRATE OLDQUARTERLYGOODRATE,
        B.GOODDAYS OLDQUARTERLYEXCELLENTRATE,
        A.PM25UPPER OLDQUARTERLYPM25UPPER,
        B.PM25 OLDQUARTERLYPM25,
        A.O3UPPER OLDQUARTERLYO3UPPER,
        B.O3 OLDQUARTERLYO3
        from
        cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
        LEFT JOIN DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA B ON A.REGIONCODE = B.REGION_CODE
        WHERE
        A.TYPE = 'QUARTERLY'
        AND A.YEAR = #{OLDQUARTERLY}
        AND A.REGIONNAME  = '成都市'
        AND B.TIME_TYPE='year'
        AND B.END_TIME = ( SELECT DATEADD(YEAR,-1,MAX ( END_TIME )) FROM DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA)
        ) T2 ON 1=1
    </when>
    <otherwise>
        <![CDATA[
                SELECT
						T1.QUARTERLYGOODRATE goodRate,
						T1.QUARTERLYEXCELLENTRATE excellentRate,
						T2.OLDQUARTERLYEXCELLENTRATE oldExcellentRate,
						( T1.QUARTERLYEXCELLENTRATE - T2.OLDQUARTERLYEXCELLENTRATE ) AS goodRateRiseOrFall,--季度上升或者下降
						T1.QUARTERLYPM25UPPER pm25Upper,
						T1.QUARTERLYPM25 pm25,
						T2.OLDQUARTERLYPM25 AS oldPm25,
						T1.QUARTERLYO3UPPER o3upper,
						CAST(T1.QUARTERLYO3 AS DECIMAL ) AS o3,
						CAST(T2.OLDQUARTERLYO3  AS DECIMAL ) AS oldO3,
                        T1.MONITOR_DATE

				FROM
						(
						SELECT
								A.QUARTERLYGOODRATE,
								A.QUARTERLYEXCELLENTRATE,
								A.QUARTERLYPM25UPPER,
								A.QUARTERLYPM25,
								A.QUARTERLYO3UPPER,
								B.QUARTERLYO3,
						        CONVERT(VARCHAR(10),A.MONITORTIME,23) MONITOR_DATE
						FROM
								(
								SELECT
										A.REGIONNAME,
										A.GOODRATE AS QUARTERLYGOODRATE,-- 本季目标优良率
										SUM ( CASE B.AQISTATIONNAME -- 本季实际优良率
												　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) QUARTERLYEXCELLENTRATE,
				A.PM25UPPER AS QUARTERLYPM25UPPER,-- 本季pm25目标值
				AVG ( B.PM2_5 ) QUARTERLYPM25,-- 本季实际pm25平均值
				A.O3UPPER AS QUARTERLYO3UPPER, -- 本季o3目标值
                MAX(B.MONITORTIME) MONITORTIME

		FROM
				cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
				LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
		WHERE
				A.TYPE = 'QUARTERLY'
				AND YEAR = #{QUARTERLY} -- 需要传递的参数

				AND A.REGIONNAME  = '成都市'
				AND B.MONITORTIME >= ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) -- 获取当前季度的第一天

				AND B.MONITORTIME <= (
					SELECT MAX ( MONITORTIME ) FROM cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY
				) -- 获取本季度的最新数据日期

		GROUP BY
				A.REGIONNAME,
				A.GOODRATE,
				A.PM25UPPER ,
				A.O3UPPER
				) A
				LEFT JOIN (
				SELECT DISTINCT
						A.REGIONNAME,
						PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS QUARTERLYO3
				FROM
						cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
						LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
				WHERE
						A.TYPE = 'QUARTERLY'
						AND YEAR = #{QUARTERLY} -- 需要传递的参数

						AND A.REGIONNAME  = '成都市'
						AND B.MONITORTIME >= ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) -- 获取当前季度的第一天

						AND B.MONITORTIME <= (
						 SELECT MAX ( MONITORTIME ) FROM cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY
						) -- 获取本季度的最新数据日期

				GROUP BY
						A.REGIONNAME,
						B.O3_8
				) B ON A.REGIONNAME = B.REGIONNAME
				) T1
				LEFT JOIN (
				SELECT
						A.OLDQUARTERLYGOODRATE,
						A.OLDQUARTERLYEXCELLENTRATE,
						A.OLDQUARTERLYPM25UPPER,
						A.OLDQUARTERLYPM25,
						A.OLDQUARTERLYO3UPPER,
						B.OLDQUARTERLYO3
				FROM
						(
						SELECT
								A.REGIONNAME,
								A.GOODRATE AS OLDQUARTERLYGOODRATE,-- 去年本季度目标优良率
								SUM ( CASE B.AQISTATIONNAME -- 去年本季度实际优良率
										　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) OLDQUARTERLYEXCELLENTRATE,
				A.PM25UPPER AS OLDQUARTERLYPM25UPPER,-- 去年本季度pm25目标值
				AVG ( B.PM2_5 ) OLDQUARTERLYPM25,-- 去年本季度实际pm25平均值
				A.O3UPPER AS OLDQUARTERLYO3UPPER -- 去年本季度o3目标值

		FROM
				cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
				LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
		WHERE
				A.TYPE = 'QUARTERLY'
				AND YEAR = #{OLDQUARTERLY} -- 需要传递的参数

				AND A.REGIONNAME  = '成都市'
				AND B.MONITORTIME >= (
				SELECT
						DATEADD( YY, - 1, ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) )
				) -- 获取去年本季度的第一天

				AND B.MONITORTIME <= (
				SELECT
						DATEADD(
								YY, - 1,
								(
								SELECT MAX ( MONITORTIME ) FROM cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY
								)
						)
				) -- 获取去年本季度对应日期

		GROUP BY
				A.REGIONNAME,
				A.GOODRATE,
				A.PM25UPPER ,
				A.O3UPPER
				) A
				LEFT JOIN (
				SELECT DISTINCT
						A.REGIONNAME,
						PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS OLDQUARTERLYO3
				FROM
						cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
						LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
				WHERE
						A.TYPE = 'QUARTERLY'
						AND YEAR = #{OLDQUARTERLY}  -- 需要传递的参数

						AND A.REGIONNAME  = '成都市'
						AND B.MONITORTIME >= (
						SELECT
								DATEADD( YY, - 1, ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) )
						) -- 获取去年本季度的第一天

						AND B.MONITORTIME <= (
						SELECT
								DATEADD(
										YY, - 1,
										(
										SELECT MAX ( MONITORTIME ) FROM cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY
										)
								)
						) -- 获取去年本季度对应日期

				GROUP BY
						A.REGIONNAME,
						B.O3_8
				) B ON A.REGIONNAME = B.REGIONNAME
				) T2 ON 1 = 1
        ]]>
    </otherwise>
</choose>

    </select>


    <select id="queryQuarterlyGoalAssessmentOld" parameterType="map"
            resultType="ths.project.api.assessment.entity.GoalAssessment">
        <![CDATA[

                                        SELECT
                                                T1.QUARTERLYGOODRATE goodRate,
                                                T1.QUARTERLYEXCELLENTRATE excellentRate,
                                                T2.OLDQUARTERLYEXCELLENTRATE oldExcellentRate,
                                                ( T1.QUARTERLYEXCELLENTRATE - T2.OLDQUARTERLYEXCELLENTRATE ) AS goodRateRiseOrFall,--季度上升或者下降
                                                T1.QUARTERLYPM25UPPER pm25Upper,
                                                T1.QUARTERLYPM25 pm25,
                                                T2.OLDQUARTERLYPM25 AS oldPm25,
                                                T1.QUARTERLYO3UPPER o3upper,
                                                CAST(T1.QUARTERLYO3 AS DECIMAL ) AS o3,
                                                CAST(T2.OLDQUARTERLYO3  AS DECIMAL ) AS oldO3

                                            FROM
                                                (
                                                SELECT
                                                    A.QUARTERLYGOODRATE,
                                                    A.QUARTERLYEXCELLENTRATE,
                                                    A.QUARTERLYPM25UPPER,
                                                    A.QUARTERLYPM25,
                                                    A.QUARTERLYO3UPPER,
                                                    B.QUARTERLYO3
                                                FROM
                                                    (
                                                    SELECT
                                                        A.REGIONNAME,
                                                        A.GOODRATE AS QUARTERLYGOODRATE,-- 本季目标优良率
                                                        SUM ( CASE B.AQISTATIONNAME -- 本季实际优良率
                                                            　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) * 100 / (
                                            SELECT
                                                DATEDIFF(
                                                    dd,
                                                    ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ),
                                                    GETDATE( ) + 1
                                                )
                                            ) QUARTERLYEXCELLENTRATE,
                                            A.PM25UPPER AS QUARTERLYPM25UPPER,-- 本季pm25目标值
                                            AVG ( B.PM2_5 ) QUARTERLYPM25,-- 本季实际pm25平均值
                                            A.O3UPPER AS QUARTERLYO3UPPER -- 本季o3目标值

                                        FROM
                                            cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                                            LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                                        WHERE
                                            A.TYPE = 'QUARTERLY'
                                            AND YEAR = #{OLDQUARTERLY} -- 需要传递的参数

                                            AND A.REGIONNAME  = '成都市'
                                            AND B.MONITORTIME >= ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) -- 获取当前季度的第一天

                                            AND B.MONITORTIME <= (
                                            SELECT
                                                DATEADD( ms,- 3, dateadd( qq, datediff( qq, 0, getdate( ) ) + 1, 0 ) )
                                            ) -- 获取本季度的最后一天

                                        GROUP BY
                                            A.REGIONNAME,
                                            A.GOODRATE,
                                            A.PM25UPPER ,
                                            A.O3UPPER
                                            ) A
                                            LEFT JOIN (
                                            SELECT DISTINCT
                                                A.REGIONNAME,
                                                PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS QUARTERLYO3
                                            FROM
                                                cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                                                LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                                            WHERE
                                                A.TYPE = 'QUARTERLY'
                                                AND YEAR = #{QUARTERLY} -- 需要传递的参数

                                                AND A.REGIONNAME  = '成都市'
                                                AND B.MONITORTIME >= ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) -- 获取当前季度的第一天

                                                AND B.MONITORTIME <= (
                                                SELECT
                                                    DATEADD( ms,- 3, dateadd( qq, datediff( qq, 0, getdate( ) ) + 1, 0 ) )
                                                ) -- 获取本季度的最后一天

                                            GROUP BY
                                                A.REGIONNAME,
                                                B.O3_8
                                            ) B ON A.REGIONNAME = B.REGIONNAME
                                            ) T1
                                            LEFT JOIN (
                                            SELECT
                                                A.OLDQUARTERLYGOODRATE,
                                                A.OLDQUARTERLYEXCELLENTRATE,
                                                A.OLDQUARTERLYPM25UPPER,
                                                A.OLDQUARTERLYPM25,
                                                A.OLDQUARTERLYO3UPPER,
                                                B.OLDQUARTERLYO3
                                            FROM
                                                (
                                                SELECT
                                                    A.REGIONNAME,
                                                    A.GOODRATE AS OLDQUARTERLYGOODRATE,-- 去年本季度目标优良率
                                                    SUM ( CASE B.AQISTATIONNAME -- 去年本季度实际优良率
                                                        　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) * 100 / (
                                            SELECT
                                                DATEDIFF(
                                                    DAY,
                                                    (
                                                    SELECT
                                                        DATEADD( YY, - 1, ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) )
                                                    ),
                                                    (
                                                    SELECT
                                                        DATEADD(
                                                            YY, - 1,
                                                            (
                                                            SELECT
                                                                DATEADD( ms,- 3, dateadd( qq, datediff( qq, 0, getdate( ) ) + 1, 0 ) )
                                                            )
                                                        )
                                                    )
                                                ) + 1
                                            ) OLDQUARTERLYEXCELLENTRATE,
                                            A.PM25UPPER AS OLDQUARTERLYPM25UPPER,-- 去年本季度pm25目标值
                                            AVG ( B.PM2_5 ) OLDQUARTERLYPM25,-- 去年本季度实际pm25平均值
                                            A.O3UPPER AS OLDQUARTERLYO3UPPER -- 去年本季度o3目标值

                                        FROM
                                            cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                                            LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                                        WHERE
                                            A.TYPE = 'QUARTERLY'
                                            AND YEAR = #{OLDQUARTERLY} -- 需要传递的参数

                                            AND A.REGIONNAME  = '成都市'
                                            AND B.MONITORTIME >= (
                                            SELECT
                                                DATEADD( YY, - 1, ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) )
                                            ) -- 获取去年本季度的第一天

                                            AND B.MONITORTIME <= (
                                            SELECT
                                                DATEADD(
                                                    YY, - 1,
                                                    (
                                                    SELECT
                                                        DATEADD( ms,- 3, dateadd( qq, datediff( qq, 0, getdate( ) ) + 1, 0 ) )
                                                    )
                                                )
                                            ) -- 获取去年本季度的第一天

                                        GROUP BY
                                            A.REGIONNAME,
                                            A.GOODRATE,
                                            A.PM25UPPER ,
                                            A.O3UPPER
                                            ) A
                                            LEFT JOIN (
                                            SELECT DISTINCT
                                                A.REGIONNAME,
                                                PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS OLDQUARTERLYO3
                                            FROM
                                                cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                                                LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                                            WHERE
                                                A.TYPE = 'QUARTERLY'
                                                AND YEAR = #{OLDQUARTERLY} -- 需要传递的参数

                                                AND A.REGIONNAME  = '成都市'
                                                AND B.MONITORTIME >= (
                                                SELECT
                                                    DATEADD( YY, - 1, ( SELECT DATEADD( qq, DATEDIFF( qq, 0, getdate( ) ), 0 ) ) )
                                                ) -- 获取去年本季度的第一天

                                                AND B.MONITORTIME <= (
                                                SELECT
                                                    DATEADD(
                                                        YY, - 1,
                                                        (
                                                        SELECT
                                                            DATEADD( ms,- 3, dateadd( qq, datediff( qq, 0, getdate( ) ) + 1, 0 ) )
                                                        )
                                                    )
                                                ) -- 获取去年本季度的第一天

                                            GROUP BY
                                                A.REGIONNAME,
                                                B.O3_8
                                            ) B ON A.REGIONNAME = B.REGIONNAME
                                            ) T2 ON 1 = 1





        ]]>
    </select>


    <select id="queryYearGoalAssessment"
            resultType="ths.project.api.assessment.entity.GoalAssessment">
        SELECT
            T1.YEARGOODRATE goodRate,
            cast(GOODDAYS_TARGET) excellentRate,
            T2.OLDEXCELLENTRATE oldExcellentRate ,
            ( T1.EXCELLENTRATE - T2.OLDEXCELLENTRATE ) AS goodRateRiseOrFall,
            T1.YEARPM25UPPER pm25Upper,
            T1.YEARPM25 pm25,
            T2.OLDYEARPM25 AS oldPm25,
            T1.YEARO3UPPER o3upper,
            CAST(T1.YEARO3 AS DECIMAL ) AS o3,
            CAST(T2.OLDYEARO3 AS DECIMAL ) AS oldO3,
            T1.MONITOR_DATE
        FROM
            (
                select
                    A.GOODRATE YEARGOODRATE,
                    A.FINDDAY GOODDAYS_TARGET,
                    B.GOODDAYS,
                    A.PM25UPPER YEARPM25UPPER,
                    B.PM25 YEARPM25,
                    A.O3UPPER YEARO3UPPER,
                    B.O3 YEARO3,
                    CONVERT(VARCHAR(10),B.END_TIME,23) MONITOR_DATE
                from cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                LEFT JOIN DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA B ON A.REGIONCODE = B.REGION_CODE
                WHERE
                    A.TYPE = 'YEAR'
                  AND A.YEAR =( SELECT DATENAME( YYYY, GETDATE( ) )  )
                  AND A.REGIONNAME  = '成都市'
                  AND B.TIME_TYPE='year'
                  AND B.END_TIME = ( SELECT MAX ( END_TIME ) FROM DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA)
            ) T1
                LEFT JOIN(
                select
                    A.GOODRATE OLDYEARGOODRATE,
                    B.GOODDAYS OLDEXCELLENTRATE,
                    A.PM25UPPER OLDYEARPM25UPPER,
                    B.PM25 OLDYEARPM25,
                    A.O3UPPER OLDYEARO3UPPER,
                    B.O3 OLDYEARO3
                from
                    cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                        LEFT JOIN DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA B ON A.REGIONCODE = B.REGION_CODE
                WHERE
                    A.TYPE = 'YEAR'
                  AND A.YEAR =  ( SELECT DATENAME( YYYY, dateadd(year,-1,GETDATE( )) )  )
                  AND A.REGIONNAME  = '成都市'
                  AND B.TIME_TYPE='year'
                  AND B.END_TIME = ( SELECT DATEADD(YEAR,-1,MAX ( END_TIME )) FROM DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA)
            ) T2 ON 1=1
    </select>

    <select id="queryYearGoalAssessmentOld"
            resultType="ths.project.api.assessment.entity.GoalAssessment">
        <![CDATA[


                                SELECT
                                    T1.YEARGOODRATE goodRate,
                                    T1.EXCELLENTRATE excellentRate,
                                    T2.OLDEXCELLENTRATE oldExcellentRate,
                                    ( T1.EXCELLENTRATE - T2.OLDEXCELLENTRATE ) AS goodRateRiseOrFall,
                                    T1.YEARPM25UPPER pm25Upper,
                                    T1.YEARPM25 pm25,
                                    T2.OLDYEARPM25 AS oldPm25 ,
                                    T1.YEARO3UPPER o3upper,
                                    CAST(T1.YEARO3 AS DECIMAL ) AS o3,
                                    CAST(T2.OLDYEARO3 AS DECIMAL ) AS oldO3

                                FROM
                                    (
                                        SELECT-- 今年数据
                                        A.YEARGOODRATE,
                                        A.EXCELLENTRATE,
                                        A.YEARPM25UPPER,
                                        A.YEARPM25,
                                        A.YEARO3UPPER,
                                        B.YEARO3
                                    FROM
                                        (
                                        SELECT
                                            A.REGIONNAME,
                                            A.GOODRATE AS YEARGOODRATE,-- 目标优良率
                                            SUM ( CASE B.AQISTATIONNAME -- 实际优良率
                                                　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) * 100 / ( SELECT datediff( DAY, rtrim( YEAR ( GETDATE( ) ) ) + '0101', rtrim( GETDATE( ) + 1 ) ) ) EXCELLENTRATE,
                            A.PM25UPPER AS YEARPM25UPPER,-- pm25目标值
                            AVG ( B.PM2_5 ) YEARPM25,-- 实际pm25平均值
                            A.O3UPPER AS YEARO3UPPER -- o3目标值

                        FROM
                            cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                            LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                        WHERE
                            A.REGIONNAME = '成都市'
                            AND A.YEAR = ( SELECT DATENAME( YYYY, GETDATE( ) ) )
                            AND A.TYPE = 'YEAR'
                            AND B.MONITORTIME >= ( SELECT dateadd( YEAR, datediff( YEAR, 0, getdate( ) ), 0 ) )
                            AND B.MONITORTIME < ( SELECT CONVERT ( datetime, CONVERT ( nvarchar ( 4 ), datepart( YEAR, getdate( ) ) + 1 ) + '-01-01' ) )
                        GROUP BY
                            A.REGIONNAME,
                            A.GOODRATE,
                            A.PM25UPPER,
                            A.O3UPPER
                            ) A
                            LEFT JOIN (
                            SELECT DISTINCT
                                A.REGIONNAME,
                                PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS YEARO3
                            FROM
                                cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                                LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                            WHERE
                                A.REGIONNAME = '成都市'
                                AND A.YEAR = ( SELECT DATENAME( YYYY, GETDATE( ) ) )
                                AND A.TYPE = 'YEAR'
                                AND B.MONITORTIME >= ( SELECT dateadd( YEAR, datediff( YEAR, 0, getdate( ) ), 0 ) )
                                AND B.MONITORTIME < ( SELECT CONVERT ( datetime, CONVERT ( nvarchar ( 4 ), datepart( YEAR, getdate( ) ) + 1 ) + '-01-01' ) )
                            GROUP BY
                                A.REGIONNAME,
                                B.O3_8
                            ) B ON A.REGIONNAME = B.REGIONNAME
                            ) T1
                            LEFT JOIN (
                            SELECT
                                A.OLDYEARGOODRATE,
                                A.OLDEXCELLENTRATE,
                                A.OLDYEARPM25UPPER,
                                A.OLDYEARPM25,
                                A.OLDYEARO3UPPER,
                                B.OLDYEARO3
                            FROM
                                (
                                SELECT
                                    A.REGIONNAME,
                                    A.GOODRATE AS OLDYEARGOODRATE,-- 去年目标优良率
                                    SUM ( CASE B.AQISTATIONNAME
                                        　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) * 100 / (
                            SELECT
                                DATEDIFF(
                                    DAY,
                                    ( SELECT DATEADD( yy, DATEDIFF( yy, 0, getdate( ) ) - 1, 0 ) ),
                                    (
                                    SELECT
                                        dateadd( YEAR, datediff( YEAR, 0, dateadd( YEAR, 1, getdate( ) ) - 1 ) - 1, - 1 )
                                    )
                                )
                            ) OLDEXCELLENTRATE,-- 去年实际优良率
                            A.PM25UPPER AS OLDYEARPM25UPPER,-- 去年pm25目标值
                            AVG ( B.PM2_5 ) OLDYEARPM25,-- 去年实际pm25平均值
                            A.O3UPPER AS OLDYEARO3UPPER -- 去年o3目标值

                        FROM
                            cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                            LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                        WHERE
                            A.TYPE = 'YEAR'
                            AND YEAR = ( SELECT DATENAME( YYYY, GETDATE( ) ) - 1 )
                            AND A.REGIONNAME  = '成都市'
                            AND B.MONITORTIME >= ( SELECT DATEADD( yy, DATEDIFF( yy, 0, getdate( ) ) - 1, 0 ) )
                            AND B.MONITORTIME < ( SELECT dateadd( YEAR, datediff( YEAR, 0, getdate( ) ), 0 ) )
                        GROUP BY
                            A.REGIONNAME,
                            A.GOODRATE,
                            A.PM25UPPER ,
                            A.O3UPPER
                            ) A
                            LEFT JOIN (
                            SELECT DISTINCT
                                A.REGIONNAME,
                                PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS OLDYEARO3
                            FROM
                                cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                                LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                            WHERE
                                A.TYPE = 'YEAR'
                                AND YEAR = ( SELECT DATENAME( YYYY, GETDATE( ) ) - 1 )
                                AND A.REGIONNAME  = '成都市'
                                AND B.MONITORTIME >= ( SELECT DATEADD( yy, DATEDIFF( yy, 0, getdate( ) ) - 1, 0 ) )
                                AND B.MONITORTIME < ( SELECT dateadd( YEAR, datediff( YEAR, 0, getdate( ) ), 0 ) )
                            GROUP BY
                                A.REGIONNAME,
                                B.O3_8
                            ) B ON A.REGIONNAME = B.REGIONNAME
                            ) T2 ON 1 = 1




        ]]>
    </select>


    <select id="queryMonthGoalAssessment"
            resultType="ths.project.api.assessment.entity.GoalAssessment">
        SELECT
            T1.MONTHGOODRATE goodRate,
            T1.MONTHEXCELLENTRATE excellentRate,
            T2.OLDMONTHEXCELLENTRATE oldExcellentRate ,
            ( T1.MONTHEXCELLENTRATE - T2.OLDMONTHEXCELLENTRATE ) AS goodRateRiseOrFall,
            T1.MONTHPM25UPPER pm25Upper,
            T1.MONTHPM25 pm25,
            T2.OLDMONTHPM25 AS oldPm25,
            T1.MONTHO3UPPER o3upper,
            CAST(T1.MONTHO3 AS DECIMAL ) AS o3,
            CAST(T2.OLDMONTHO3 AS DECIMAL ) AS oldO3,
            T1.MONITOR_DATE
        FROM
            (
                select
                    A.GOODRATE MONTHGOODRATE,
                    B.GOODDAYS MONTHEXCELLENTRATE,
                    A.PM25UPPER MONTHPM25UPPER,
                    B.PM25 MONTHPM25,
                    A.O3UPPER MONTHO3UPPER,
                    B.O3 MONTHO3,
                    CONVERT(VARCHAR(10),B.END_TIME,23) MONITOR_DATE
                from
                    cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                        LEFT JOIN DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA B ON A.REGIONCODE = B.REGION_CODE
                WHERE
                    A.TYPE = 'MONTH'
                  AND A.YEAR = ( SELECT CONVERT ( VARCHAR ( 7 ), GETDATE( ), 120 ) )
                  AND A.REGIONNAME  = '成都市'
                  AND B.TIME_TYPE='month'
                  AND B.END_TIME = ( SELECT MAX ( END_TIME ) FROM DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA)
            ) T1
                LEFT JOIN(
                select
                    A.GOODRATE OLDMONTHGOODRATE,
                    B.GOODDAYS OLDMONTHEXCELLENTRATE,
                    A.PM25UPPER OLDMONTHPM25UPPER,
                    B.PM25 OLDMONTHPM25,
                    A.O3UPPER OLDMONTHO3UPPER,
                    B.O3 OLDMONTHO3
                from
                    cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                        LEFT JOIN DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA B ON A.REGIONCODE = B.REGION_CODE
                WHERE
                    A.TYPE = 'MONTH'
                  AND A.YEAR = ( SELECT CONVERT ( VARCHAR ( 7 ), DATEADD(YEAR,-1,GETDATE( )), 120 ) )
                  AND A.REGIONNAME  = '成都市'
                  AND B.TIME_TYPE='month'
                  AND B.END_TIME = ( SELECT DATEADD(YEAR,-1,MAX ( END_TIME )) FROM DataCenter_V6.TENVAIR.T_AIR_ACCUM_DATA)
            ) T2 ON 1=1
    </select>

    <select id="queryMonthGoalAssessmentOld"
            resultType="ths.project.api.assessment.entity.GoalAssessment">
        <![CDATA[

                SELECT
                        T1.MONTHGOODRATE goodRate,
                        T1.MONTHEXCELLENTRATE excellentRate,
                        T2.OLDMONTHEXCELLENTRATE oldExcellentRate ,
                        ( T1.MONTHEXCELLENTRATE - T2.OLDMONTHEXCELLENTRATE ) AS goodRateRiseOrFall,
                        T1.MONTHPM25UPPER pm25Upper,
                        T1.MONTHPM25 pm25,
                        T2.OLDMONTHPM25 AS oldPm25,
                        T1.MONTHO3UPPER o3upper,
                        CAST(T1.MONTHO3 AS DECIMAL ) AS o3,
                        CAST(T2.OLDMONTHO3 AS DECIMAL ) AS oldO3

                    FROM
                        (
                        SELECT
                            A.MONTHGOODRATE,
                            A.MONTHEXCELLENTRATE,
                            A.MONTHPM25UPPER,
                            A.MONTHPM25,
                            A.MONTHO3UPPER,
                            B.MONTHO3
                        FROM
                            (
                            SELECT
                                A.REGIONNAME,
                                A.GOODRATE AS MONTHGOODRATE,-- 月目标优良率
                                SUM ( CASE B.AQISTATIONNAME -- 月实际优良率
                                    　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) * 100 / (
                    SELECT
                        datediff(
                            DAY,
                            ( ( SELECT DATENAME( YYYY, GETDATE( ) ) ) + ( SELECT DATENAME( MM, GETDATE( ) ) ) + '01' ),
                            rtrim( GETDATE( ) + 1 )
                        )
                    ) MONTHEXCELLENTRATE,
                    A.PM25UPPER AS MONTHPM25UPPER,-- 月pm25目标值
                    AVG ( B.PM2_5 ) MONTHPM25,-- 月实际pm25平均值
                    A.O3UPPER AS MONTHO3UPPER -- 月o3目标值

                FROM
                    cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                    LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                WHERE
                    A.TYPE = 'MONTH'
                    AND A.YEAR = ( SELECT CONVERT ( VARCHAR ( 7 ), GETDATE( ), 120 ) )
                    AND A.REGIONNAME  = '成都市'
                    AND B.MONITORTIME >= ( SELECT DATEADD( MM, DATEDIFF( MM, 0, ( SELECT MAX ( MONITORTIME ) FROM TENVAIR.T_ENV_AIRDATA_REGION_DAY ) ), 0 ) )
                    AND B.MONITORTIME <= ( SELECT MAX ( MONITORTIME ) FROM cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY )
                GROUP BY
                    A.REGIONNAME,
                    A.GOODRATE,
                    A.PM25UPPER ,
                    A.O3UPPER
                    ) A
                    LEFT JOIN (
                    SELECT DISTINCT
                        A.REGIONNAME,
                        PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS MONTHO3
                    FROM
                        cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                        LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                    WHERE
                        A.TYPE = 'MONTH'
                        AND A.YEAR = ( SELECT CONVERT ( VARCHAR ( 7 ), GETDATE( ), 120 ) )
                        AND A.REGIONNAME  = '成都市'
                        AND B.MONITORTIME >= ( SELECT DATEADD( MM, DATEDIFF( MM, 0, ( SELECT MAX ( MONITORTIME ) FROM TENVAIR.T_ENV_AIRDATA_REGION_DAY ) ), 0 ) )
                        AND B.MONITORTIME <= ( SELECT MAX ( MONITORTIME ) FROM cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY )
                    GROUP BY
                        A.REGIONNAME,
                        B.O3_8
                    ) B ON A.REGIONNAME = B.REGIONNAME
                    ) T1
                    LEFT JOIN (
                    SELECT
                        A.OLDMONTHGOODRATE,
                        A.OLDMONTHEXCELLENTRATE,
                        A.OLDMONTHPM25UPPER,
                        A.OLDMONTHPM25,
                        A.OLDMONTHO3UPPER,
                        B.OLDMONTHO3
                    FROM
                        (
                        SELECT
                            A.REGIONNAME,
                            A.GOODRATE AS OLDMONTHGOODRATE,-- 去年本月目标优良率
                            SUM ( CASE B.AQISTATIONNAME -- 去年本月实际优良率
                                　　 WHEN '优' THEN 1 　　 WHEN '良' THEN 1 　　 ELSE 0 　　 END ) * 100 / (
                    SELECT
                        DATEDIFF(
                            DAY,
                            (
                            SELECT
                                DATEADD(
                                    yy, - 1,
                                    ( SELECT CONVERT ( VARCHAR ( 7 ), dateadd( mm, 0, getdate( ) ), 120 ) + '-01' )
                                )
                            ),
                            (
                            SELECT
                                DATEADD(
                                    yy, - 1,
                                    ( SELECT CONVERT ( VARCHAR ( 7 ), dateadd( mm, 1, getdate( ) ), 120 ) + '-01' )
                                )
                            )
                        )
                    ) OLDMONTHEXCELLENTRATE,
                    A.PM25UPPER AS OLDMONTHPM25UPPER,-- 去年本月pm25目标值
                    AVG ( B.PM2_5 ) OLDMONTHPM25,-- 去年本月实际pm25平均值
                    A.O3UPPER AS OLDMONTHO3UPPER -- 去年本月o3目标值

                FROM
                    cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                    LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                WHERE
                    A.TYPE = 'MONTH'
                    AND A.YEAR = (
                    SELECT SUBSTRING
                        ( CONVERT ( VARCHAR ( 100 ), DATEADD( YY, - 1, GETDATE( ) ), 120 ), 0, 8 )
                    )
                    AND A.REGIONNAME  = '成都市'
                    AND B.MONITORTIME >= (
                    SELECT
                        DATEADD(
                            yy, - 1,
                            ( SELECT CONVERT ( VARCHAR ( 7 ), dateadd( mm, 0, getdate( ) ), 120 ) + '-01' )
                        )
                    )
                    AND B.MONITORTIME < (
                    SELECT
                        DATEADD(
                            yy, - 1,
                            ( SELECT CONVERT ( VARCHAR ( 7 ), dateadd( mm, 1, getdate( ) ), 120 ) + '-01' )
                        )
                    )
                GROUP BY
                    A.REGIONNAME,
                    A.GOODRATE,
                    A.PM25UPPER ,
                    A.O3UPPER
                    ) A
                    LEFT JOIN (
                    SELECT DISTINCT
                        A.REGIONNAME,
                        PERCENTILE_CONT ( 0.95 ) WITHIN GROUP ( ORDER BY B.O3_8 ) OVER ( PARTITION BY A.REGIONNAME ) AS OLDMONTHO3
                    FROM
                        cd_cmd.TENVAIR.T_ASSESSMENT_TARGET_CONFIGURATION A
                        LEFT JOIN cd_cmd.TENVAIR.T_ENV_AIRDATA_REGION_DAY B ON A.REGIONCODE = B.CODE_REGION
                    WHERE
                        A.TYPE = 'MONTH'
                        AND A.YEAR = (
                        SELECT SUBSTRING
                            ( CONVERT ( VARCHAR ( 100 ), DATEADD( YY, - 1, GETDATE( ) ), 120 ), 0, 8 )
                        )
                        AND A.REGIONNAME  = '成都市'
                        AND B.MONITORTIME >= (
                        SELECT
                            DATEADD(
                                yy, - 1,
                                ( SELECT CONVERT ( VARCHAR ( 7 ), dateadd( mm, 0, getdate( ) ), 120 ) + '-01' )
                            )
                        )
                        AND B.MONITORTIME < (
                        SELECT
                            DATEADD(
                                yy, - 1,
                                ( SELECT CONVERT ( VARCHAR ( 7 ), dateadd( mm, 1, getdate( ) ), 120 ) + '-01' )
                            )
                        )
                    GROUP BY
                        A.REGIONNAME,
                        B.O3_8
                    ) B ON A.REGIONNAME = B.REGIONNAME
                    ) T2 ON 1 = 1


        ]]>


    </select>

</mapper>