/**绿色**/
.skin-green a{
	color:#2e8540;
}
.skin-green .header-info>ul>li:hover a{
    background: #2e8540;	
}
.skin-green .navbar .active > a[data-level=top]{
	background:none !important;
}
.skin-green .navbar .active > a[data-level=top]:after{
	 background: #ffbd04;
}
.skin-green .navbar{
	background:url(./images/bg.png) repeat-x;
}
.skin-green .navbar:before{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background:url(./images/left.png) no-repeat left top;
    height: 61px;
	z-index: 2;
}
.skin-green .navbar:after{
	content: " ";
    position: absolute;
    right: 50%;
    top: 0;
    width: 50%;
    background:url(./images/right.png) no-repeat right top;
    height: 61px;
	z-index: 1;	
}
.skin-green .navbar-header{
	position: relative;
    z-index: 3;
}


.skin-green .sidebar{
	border-color: #c5e0cf;
	z-index: 3;
}
.skin-green .nav-list > li.active > .submenu:before, 
.skin-green .nav-list > li.active > .submenu > li:before{
	border-color: #cdd1d0;
}
.skin-green .nav-list > li .submenu > li.active > a,.skin-green .nav-list > li .submenu > li > a:hover{
	color: #4ea056;
}
.skin-green .nav-list > li .submenu > li.active > a > .menu-icon{
	color: #4ea056;
}
.skin-green .nav-list > li > .submenu > li:hover:after,
.skin-green .nav-list > li .submenu > li.active:after{
	background: #4ea056;
}
.skin-green .nav-list > li .submenu > li > a:hover,
.skin-green .nav-list > li .submenu > li.active:not(.open) > a,
.skin-green .nav-list > li .submenu > li.active:not(.open) > a:hover{
	background: #ededed;
}
.skin-green .nav-list li.active > a:after{
	border-right-color: #4ea056;
}
.skin-green input[type=checkbox].ace:checked + .lbl::before,.skin-green input[type=radio].ace:checked + .lbl::before{
	color:#2e8540;
}
.skin-green input[type=checkbox].ace-switch:checked + .lbl::before,.skin-green input[type=radio].ace-switch:checked + .lbl::before{
	color:#ffffff;
	background-color: #2e8540 !important;
	border-color: #2e8540 !important;
}
.skin-green .pagination > li.active > a, .skin-green .pagination > li.active > a:hover,.skin-green .pagination > li.active > a:focus{
	background-color: #4ea056;
    border-color: #4ea056;
}
.skin-green .page_total .btn{
	background: #4ea056 !important;
	border-color: #4ea056;
}
.skin-green .btn,
.skin-green .ui-dialog button, 
.skin-green .btn1{
	border: 1px solid;
	border-color: #2e8540 !important;
}
.skin-green .form-group .btn{
	border-color: #39914b !important;
}
.skin-green .page_total .btn-info{
	border-color: #ffffff !important;
	color: #ffffff !important;
}

.skin-green td .btn:hover, 
.skin-green td .btn.focus:hover, 
.skin-green td .btn:active:hover, 
.skin-green td .btn:focus:active{
	background: #fff !important;
}
.skin-green .dropdown-menu > li:hover > a, 
.skin-green .dropdown-menu > li > a:focus, 
.skin-green .dropdown-menu > li > a:active, 
.skin-green .dropdown-menu > li.active > a, 
.skin-green .dropdown-menu > li.active:hover > a{
	background:#2e8540 !important;
}
.skin-green .form-group .btn-info, 
.skin-green .form-group .btn-info:focus, 
.skin-green .form-group .btn-info.focus{
	background: #4ea056 !important;
    border-color: #4ea056;
    border-radius: 3px;
    color: #fff !important;
}
.skin-green .table .btn.btn-white:hover{
	color: #4ea056 !important;
}
.skin-green .sort-current{
	color: #4ea056 !important;
}
.skin-green .btn-sm > .ace-icon{
    margin-right: 0;
}
.skin-green .btn-op-ths :hover{

color:#fff!important;
}
.skin-green .fa-edit:hover, .skin-green .fa-pencil-square-o:hover, .skin-green .fa-eye:hover{
    color:#fff;
}
.skin-green .table .btn.btn-white:hover{
    background:#4ea056 !important;
    color:#fff !important;
    border-color: #4ea056 !important;
    border: 1px solid;
 }
 .skin-green .fa-edit:before:hover, .skin-green .fa-pencil-square-o:before:hover, .skin-green .fa-eye:before:hover{
     color:#fff!important;
 }
.skin-green .nav-list > li > a,.skin-green .nav-list > li > a,.skin-green .nav-list > li > a,.skin-green .nav-list > li.open > a{
    color: #666 ; 
    background: #fff;
}
.skin-green .nav-list > li:hover > a,.skin-green .nav-list > li:hover.open > a{
    color: #4ea056 ; 
    background: #fff;
}
.skin-green input {
    outline-color: #4D9D8C;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}
.skin-green input:focus { 
    outline: none !important;
    border:1px solid;
    box-shadow: 0 0 10px #719ECE;
    border-color: #4ea056;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.skin-green .btn{
	color: #39914b !important;
}
.skin-green .btn-primary{
	color: #428BCA !important;
}
.skin-green .btn-danger{
	color: #D15B47 !important;
}
.skin-green .btn-default{
	color:#ABBAC3 !important;
}
.skin-green .btn-info{
	color:#6FB3E0 !important;
}
.skin-green .btn-success{
	color:#87B87F !important;
}
.skin-green .btn-warning{
	color:#FFB752 !important;
}
.skin-green .btn-inverse{
	color:#555555 !important;
}
.skin-green .btn-pink{
	color:#D6487E !important;
}
.skin-green .btn-green{
	color:#9585BF !important;
}
.skin-green .btn-yellow{
	color: #FEE188 !important;
}
.skin-green .btn-grey{
	color:#A0A0A0 !important;
}
.skin-green .btn-light{
	color: #E7E7E7 !important;
}
.skin-green .btn-link{
	color:#0088CC !important;
}
.skin-green .btn:hover, 
.skin-green .btn.focus:hover, 
.skin-green .btn:active:hover, 
.skin-green .btn:focus:active, 
.skin-green .open > .btn-info.dropdown-toggle, 
.skin-green .open > .btn-info.dropdown-toggle:hover, 
.skin-green .open > .btn-info.dropdown-toggle:focus, 
.skin-green .open > .btn-info.dropdown-toggle:active,
.skin-green .ui-dialog button:hover, 
.skin-green .ui-dialog button.focus:hover, 
.skin-green .ui-dialog button:active:hover, 
.skin-green .ui-dialog button:focus:active,
.skin-green .btn1:hover, 
.skin-green .btn1.focus:hover, 
.skin-green .btn1:active:hover, 
.skin-green .btn1:focus:active{
	background:#39914b !important;
	color:#fff !important;
	border-color: #39914b;
}
.skin-green .align-right .btn-xs-ths:hover,
.skin-green .btn-xs-ths:hover,
.skin-green .btn.btn-white.btn-default:hover{
	color: #fff !important;
}
.skin-green .navbar .pull-left.navbar-toggle.collapsed,
.skin-green .navbar-toggle.menu-toggler.pull-left{
	background: #57ab5d;
}
.skin-green .navbar .navbar-toggle:hover{
	background: #64bc6a;

}
.skin-green .navbar .navbar-toggle.display, .skin-green .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed){
	background: #6ecc75;
}
.skin-green .nav-list > li.active > a,.skin-green .nav-list > li.open > a,.skin-green .nav-list > li > a:focus{
	color: #4ea056;
}
@media (max-width: 991px){
	.skin-green .navbar .active > a[data-level=top]{
		 color: #4ea056 !important;
		 background:#f8f8f8 !important;
	}
}