body {
	background-color: #fff;
	font-family: \5fae\8f6f\96c5\9ed1;
	font-size: 12px;
	color: #333;
}

.ioop-dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 200px;
	background-color: #fff;
	display: none;
	z-index: 10010;
}

.tree_dialog {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	z-index: 10110;
	display: block;
}

.ioop-dialog h6 {
	position: relative;
	height: 24px;
	line-height: 24px;
	margin: 0 10px;
	padding: 7px 10px;
	border-bottom: #d9d9d9 1px solid;
	font-size: 16px;
	overflow: hidden;
	cursor: move;
}

.dialog-main {
	padding: 10px;
}

.btn-content {
	overflow: hidden;
}

.btn-content .a-active {
	background-color: #5eb4c8;
	border-color: #5eb4c8;
	color: #fff;
}

.btn-content a {
	font-size: 14px;
	color: #aaaaaa;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	float: left;
	border: 2px solid #dedede;
	border-radius: 5px;
	text-align: center;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.btn-content .last-a {
	width: 107px;
	float: right;
	margin-right: 0;
	background-color: #4fc649;
	color: #fff;
	border-color: #4fc649;
	text-align: left;
}

.btn-content .last-a em {
	width: 16px;
	height: 30px;
	background: url(../img/org-dialog-savebtn.png) center center no-repeat;
	float: left;
	padding: 0 5px;
	z-index: 999;
}

.dialogBox-content {
	padding-top: 15px;
	overflow: hidden;
}

.dialogBox-content .dialogbBox-frist {
	width: 274px;
}

.dialogBox-content .dialogBox {
	float: left;
	width: 210px;
	height: 365px;
	background-color: #fff;
	border: solid 1px #d9d9d9;
}

.dialogBox-content .step {
	width: 30px;
	height: 185px;
	float: left;
}

.dialogBox-content .dialogBox {
	float: left;
	width: 210px;
	height: 365px;
	background-color: #fff;
	border: solid 1px #d9d9d9;
}

.dialogBox-content .dialogBox .box-title {
	height: 31px;
	line-height: 31px;
	border-bottom: 2px solid #fb783e;
}

.dialogBox-content .dialogBox .box-title h2 {
	font-size: 14px;
	color: #e95d1f;
	float: left;
	text-indent: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	margin: 0px;
}

.dialogBox-content .last-dialogBox .box-title {
	border-color: #5eb4c8;
	overflow: hidden;
}

.dialogBox-content .last-dialogBox .box-title h2 {
	color: #5eb4c8;
}

.dialogBox-content .dialogBox .box-title .input-search {
	float: right;
	width: 130px;
	border-left: solid 1px #d9d9d9;
	position: relative;
	width: calc(100% - 90px);
}

.dialogBox-content .dialogBox .box-title .input-search input {
	width: calc(100% - 15px);
	height: 20px;
	line-height: 20px;
	border: none;
	background-color: transparent;
	outline: none;
	padding: 5px;
	display: block;
	font-family: \5fae\8f6f\96c5\9ed1;
	font-size: 12px;
	color: #333;
}

.dialogBox-content .dialogBox .box-title .input-search em {
	width: 20px;
	height: 20px;
	background: url(../img/org-dialog-searchBtn.png) center center no-repeat;
	position: absolute;
	right: 5px;
	top: 5px;
}

.dialogBox-content .dialogBox .box-title em {
	width: 17px;
	height: 30px;
	float: left;
	background: url(../img/org-dialog-arrow-l-r.png) left center no-repeat;
	cursor: pointer;
	margin-left: 10px;
}

.dialogBox-content .dialogbBox-frist {
	width: 274px;
}

ol, ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.box-content li {
	background-color: #51a3d8;
	border: solid 1px #368fc9;
	border-radius: 3px;
	margin: 5px 8px;
	cursor: pointer;
}

.box-content li a {
	height: 24px;
	line-height: 24px;
	text-align: left;
	color: #fff;
	display: block;
	text-decoration: none;
	text-indent: 1em;
}

.over-flow, .table-over td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}

.list-persions ul .items {
	text-indent: 10px;
	cursor: pointer;
	margin: 0;
}

.list-persions ul li {
	font-size: 14px;
	margin: 5px 0;
	display: block;
	height: 28px;
	line-height: 28px;
	color: #333;
}

#person-content .ui-selected, #result-list .ui-selected {
    background-color: #fb783e;
    border-color: #fb783e;
}

#_groupBtn, #result-warp, #_deptBtn, #person-warp, #_positionBtn {
	overflow: auto;
	height: calc(100% - 33px);
}

.dialogBox-content .step .prev-a {
    background-position: -42px 0px;
}

.dialogBox-content .step a {
    display: block;
    width: 38px;
    height: 25px;
    background: url(../img/org-dialog-arrow-u-d.png) 10px 0px no-repeat;
    cursor: pointer;
}

.dialogBox-content .step2 a {
    margin: 0 0 30px 0;
    background-position: -90px 0px;
}

.box-content li em {
    width: 30px;
    height: 24px;
    background: url(../img/person-close-btn.png) center center no-repeat;
    float: right;
    cursor: pointer;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../../../assets/components/font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
	src: url('../../../assets/components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0')
		format('embedded-opentype'),
		url('../../../assets/components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0')
		format('woff2'),
		url('../../../assets/components/font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0')
		format('woff'),
		url('../../../assets/components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0')
		format('truetype'),
		url('../../../assets/components/font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

.ztree * {
    font-size: 14px !important;
}

.ztree li > a > span.button{
	padding-top: 4px;
	padding-left: 3px;
}

.ztree li span.button.org_ico_open,
.ztree li span.button.org_ico_close {
	
}

.ztree li span.button.org_ico_open,
.ztree li span.button.org_ico_close,
.ztree li span.button.org_ico_docu,
.ztree li span.button.ico_open,
.ztree li span.button.ico_close,
.ztree li span.button.ico_docu {
	background-image: none !important;
	*background-image: none !important;
}

.ztree li span.button:after,
.ztree li span.button:after,
.ztree li span.button:after {
	width: 1.25em;
	margin-top: 3px;
	text-align: center;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 15px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ztree li span.button.org_ico_open:after,
.ztree li span.button.org_ico_close:after,
.ztree li span.button.org_ico_docu:after {
	content: "  \f0e8";
}

.ztree li span.button.ico_close:after,
.ztree li span.button.ico_docu:after {
	content: "  \f114";
}

.ztree li span.button.ico_open:after {
	content: "  \f115";
}

.ztree li span.button.role_ico_open,
.ztree li span.button.role_ico_close,
.ztree li span.button.role_ico_docu,
.ztree li span.button.app_ico_open,
.ztree li span.button.app_ico_close,
.ztree li span.button.app_ico_docu,
.ztree li span.button.posi_ico_open,
.ztree li span.button.posi_ico_close,
.ztree li span.button.posi_ico_docu,
.ztree li span.button.group_ico_open,
.ztree li span.button.group_ico_close,
.ztree li span.button.group_ico_docu,
.ztree li span.button.dept_ico_open,
.ztree li span.button.dept_ico_close,
.ztree li span.button.dept_ico_docu,
.ztree li span.button.folder_ico_open,
.ztree li span.button.folder_ico_close,
.ztree li span.button.folder_ico_docu,
.ztree li span.button.dept_org_ico_open,
.ztree li span.button.dept_org_ico_close,
.ztree li span.button.dept_org_ico_docu{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	background-image: none !important;
}

.ztree li span.button.dept_ico_open:before{
	content: "\f07c";
}

.ztree li span.button.dept_ico_close:before,.ztree li span.button.dept_ico_docu:before{
	content: "\f07b";
}

.ztree li span.button.role_ico_open:before,
.ztree li span.button.role_ico_close:before,
.ztree li span.button.role_ico_docu:before{
	content: "\f25d";
}

.ztree li span.button.app_ico_open:before,
.ztree li span.button.app_ico_close:before,
.ztree li span.button.app_ico_docu:before{
	content: "\f12e";
}

.ztree li span.button.posi_ico_open:before,
.ztree li span.button.posi_ico_close:before,
.ztree li span.button.posi_ico_docu:before{
	content: "\f0f2";
}

.ztree li span.button.group_ico_open:before,
.ztree li span.button.group_ico_close:before,
.ztree li span.button.group_ico_docu:before{
	content: "\f0c0";
}

.ztree li span.button.folder_ico_open:before{
	content: "\f07c";
}
.ztree li span.button.folder_ico_close:before,
.ztree li span.button.folder_ico_docu:before{
	content: "\f07b";
}

.ztree li span.button.dept_org_ico_open:before,
.ztree li span.button.dept_org_ico_close:before,
.ztree li span.button.dept_org_ico_docu:before{
	content: "\f0e8";
}