<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 普通报告 -->
<mapper namespace="ths.project.analysis.forecast.sanddust.mapper.ISandDustMapper">
    <select id="getMaxDate" resultType="map">
        SELECT CONVERT(VARCHAR (7), MAX([MODEL_TIME]), 120) MAX_MONTH,
        CONVERT(VARCHAR (10), MAX([MODEL_TIME]), 120) MAX_DATE

        FROM
        [AIR_FORECAST].[T_BAS_MODEL_DUST_HOUR]
        WHERE
        MODEL = 'CDAQS-DUST'
        AND POINT_CODE = '510100000000'
        <if test='month != null and month != ""'>
            <![CDATA[
                        AND MODEL_TIME >=  CONVERT(datetime ,#{month}+'-01 00:00:00',120)
                        AND MODEL_TIME < dateadd(month,1,CONVERT(datetime,#{month}+'-01 00:00:00',120))
                    ]]>
        </if>
    </select>


    <select id="getForecastDateList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT A.MODELTIME,
               CAST(SUBSTRING(A.MODELTIME, 9, 2) AS INTEGER)                SHOW_TEXT,
               CASE WHEN A.MODELTIME > GETDATE() THEN 'N' ELSE 'Y' END   AS IS_DISABLED,
               CASE WHEN A.MODELTIME = #{MAX_DATE} THEN 'Y' ELSE 'N' END AS IS_MAX_DATE,
               CASE WHEN B.MODELTIME IS NULL THEN 'N' ELSE 'Y' END       AS IS_DATA
        FROM (
                 SELECT CONVERT(VARCHAR (10), dateadd(D, NUMBER, #{MAX_MONTH} + '-01') - 1, 23) AS MODELTIME
                 FROM master..spt_values
                 WHERE TYPE = 'p'
                   AND NUMBER BETWEEN 1 AND (
                     SELECT datediff(DAY,#{MAX_MONTH} + '-01', dateadd(MONTH,1, #{MAX_MONTH} + '-01')))) A
                 LEFT JOIN (
            SELECT CONVERT(VARCHAR, MODELTIME, 23) MODELTIME
            FROM (
                     SELECT DISTINCT CONVERT(VARCHAR, MODEL_TIME, 23) MODELTIME
                     FROM [AIR_FORECAST].[T_BAS_MODEL_DUST_HOUR]
                     WHERE POINT_CODE = '510100000000'
                       AND MODEL = 'CDAQS-DUST'
                       AND MODEL_TIME >= CONVERT ( datetime
                         , #{MAX_MONTH} + '-01'
                         , 20 )
							<![CDATA[AND MODEL_TIME
                         < DATEADD( MONTH
                         , 1
                         , CONVERT (datetime
                         , #{MAX_MONTH} + '-01'
                         , 20))]]>
                 ) T
        ) B
                           ON A.MODELTIME = B.MODELTIME
        ORDER BY SHOW_TEXT
    </select>

    <select id="getRegionList" resultType="map">
        SELECT REGION_CODE        CODE,
               REGION_NAME        NAME,
               PARENT_REGION_CODE PCODE
        FROM cd_dyh_zhdn.DIM_TCODE.T_COD_REGION
        WHERE
            REGION_CODE = '510100000000'
           OR PARENT_REGION_CODE = '510100000000'
        ORDER BY REGION_CODE
    </select>

    <select id="getDustForecastDataList" resultType="map">
        SELECT CONVERT(VARCHAR (10), MODEL_TIME, 120)  MODEL_TIME,
               CONVERT(VARCHAR (16), RESULT_TIME, 120) RESULT_TIME,
               POINT_CODE,
               POINT_NAME,
               PM10,
               PM25,
               TEMP,
               PCPN,
               WSPD,
               WDIR
        FROM AIR_FORECAST.T_BAS_MODEL_DUST_HOUR
        WHERE MODEL = 'CDAQS-DUST'
          AND MODEL_TIME = CONVERT(datetime, #{modelTime})
          AND RESULT_TIME>=DATEADD(day,1,MODEL_TIME)
          AND POINT_CODE = #{pointCode}
    </select>

</mapper>
