<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ths.project.analysis.forecast.numericalmodel.mapper.ForecastLogMapper">
       <!-- 获取最大时间-->
    <select id="queryMaxLogTime" resultType="java.util.HashMap">
       SELECT max(LOG_TIME) forecastTimeEnd, DATEADD(DAY,-30,max(LOG_TIME))  forecastTimeStart	FROM [AIR_FORECAST].[T_BAS_FORECAST_LOG]
    </select>

    <!--导出数据查询-->
    <select id="getExportForecastLogFormLogTime" resultType="java.util.LinkedHashMap">
        SELECT
             LEFT(CONVERT(VARCHAR(100),[LOG_TIME],120),16) LOG_TIME, [LOG_TEXT]
        FROM
            [AIR_FORECAST].[T_BAS_FORECAST_LOG]
        where
            <![CDATA[LOG_TIME >= CONVERT(datetime,#{forecastTimeStart},120) AND LOG_TIME <= CONVERT(datetime,#{forecastTimeEnd}+' 23:59:29',120) ]]>
        order by
            LOG_TIME desc

    </select>
</mapper>