<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ths.project.analysis.forecast.numericalmodel.mapper.WeatherElementChangeHourMapper">

    <!--气象小时数据导出-->
    <select id="getWrfDataHourExportData" resultType="java.util.LinkedHashMap">
        SELECT
            MODEL,
            CONVERT(varchar(20), MODEL_TIME,120) AS MODEL_TIME,
            CONVERT(varchar(20), RESULT_TIME,120) AS RESULT_TIME,
            POINT_NAME,
            WIND_SPEED,
            TEMPERATURE,
            DEW_POINT_SPREAD,
            BOUNDING_LAYER,
            RAINFALL,
            PRESSURE,
            RADIATION,
            HUMIDITY,
            VENTILATION_COEFFICIENT,
            COMPOSITE_INDEX,
            CLOUD_COVER
        FROM
            AIR_FORECAST.T_WRF_DATA_HOUR
        WHERE
        <choose>
            <when test="step !=null and step != ''">
                STEP BETWEEN 1 AND ${step}
            </when>
            <otherwise>
                STEP BETWEEN 1 AND 14
            </otherwise>
        </choose>
        <if test="model!=null and model!=''">
            AND MODEL = #{model}
        </if>
        <if test="pointCode!=null and pointCode!=''">
            AND POINT_CODE = #{pointCode}
        </if>
        <if test="modelTime!=null and modelTime!=''">
            AND MODEL_TIME = CONVERT ( datetime, #{modelTime}, 20 )
        </if>
    </select>
    <!--气象多要素-->
    <select id="getWrfDataHourYsExportData" resultType="java.util.LinkedHashMap">
        SELECT
        MODEL,
        CONVERT(varchar(20), MODEL_TIME,120) AS MODEL_TIME,
        CONVERT(varchar(20), RESULT_TIME,120) AS RESULT_TIME,
        POINT_NAME,
        WIND_SPEED,
        TEMPERATURE ,
        RAINFALL
        FROM
        AIR_FORECAST.T_WRF_DATA_HOUR
        WHERE
        <choose>
            <when test="step !=null and step != ''">
                STEP BETWEEN 1 AND ${step}
            </when>
            <otherwise>
                STEP BETWEEN 1 AND 14
            </otherwise>
        </choose>
        <if test="model!=null and model!=''">
            AND MODEL = #{model}
        </if>
        <if test="pointCode!=null and pointCode!=''">
            AND POINT_CODE = #{pointCode}
        </if>
        <if test="modelTime!=null and modelTime!=''">
            AND MODEL_TIME = CONVERT ( datetime, #{modelTime}, 20 )
        </if>
    </select>
</mapper>