<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- $!{exportInfo.tableName} Mapper类 -->
<mapper namespace="${exportInfo.mapperPackage}.${exportInfo.mapperClassName}">

#set($methodForeignKeyName = ${formTemplateService.underline2Camel("${exportInfo.foreignKey}", false)})
#set($foreignKeyParam = ${formTemplateService.underline2Camel("${exportInfo.foreignKey}", true)})
	<!-- 根据外键查询信息 -->
	<select id="selectBy${methodForeignKeyName}" parameterType="java.lang.String" resultType="${exportInfo.modelPackage}.${exportInfo.modelClassName}">
		SELECT 
#foreach($field in $exportInfo.metaFieldList)
			${field.fieldCode}#if(${velocityCount} < $exportInfo.metaFieldList.size()),#end
		
#end
		FROM ${exportInfo.metaTable.tableSchema}.${exportInfo.metaTable.tableCode}
		WHERE 
			${exportInfo.foreignKey} = #{${foreignKeyParam}, jdbcType=VARCHAR}
	</select>
	
	<!-- 插入信息 -->
	<insert id="insert" parameterType="${exportInfo.modelPackage}.${exportInfo.modelClassName}">
		INSERT INTO ${exportInfo.metaTable.tableSchema}.${exportInfo.metaTable.tableCode}(
#foreach($field in $exportInfo.metaFieldList)
			${field.fieldCode}#if(${velocityCount} < $exportInfo.metaFieldList.size()),#end
		
#end
		) VALUES(
#foreach($field in $exportInfo.metaFieldList)
			#{${formTemplateService.underline2Camel("${field.fieldCode}", true)}, jdbcType=${formTemplateService.getJdbcType("${field.fieldDatatype}")}}#if(${velocityCount} < $exportInfo.metaFieldList.size()),#end
		
#end		
		)
	</insert>
	
	<!-- 根据外键删除信息 -->
	<delete id="deleteBy${methodForeignKeyName}" parameterType="java.lang.String">
		DELETE FROM ${exportInfo.metaTable.tableSchema}.${exportInfo.metaTable.tableCode}
		WHERE 
			${exportInfo.foreignKey} = #{${foreignKeyParam}, jdbcType=VARCHAR}
	</delete>
</mapper>