.selectEditInput{
	width: calc(100% - 10px);
}
.formTable{
	width: 100%; 
	border: 0px;
	table-layout: fixed;
}
.formTable .control-label{
	padding-left: 0px;
}
.formTable .checkbox-inline{
	padding-right: 0px;
}
.formTable tr.data_tr{
	height: 38px;
}
.formTable td{
	border: 1px solid #000000;
}
.formTable td[cell_index] > span > div{
	padding-left: 0px;
	padding-right: 0px;
}
.formTable .padding_1.col-sm-12,
.formTable .padding_1 .col-sm-1,
.formTable .padding_1 .col-sm-2,
.formTable .padding_1 .col-sm-3,
.formTable .padding_1 .col-sm-4,
.formTable .padding_1 .col-sm-5,
.formTable .padding_1 .col-sm-6,
.formTable .padding_1 .col-sm-7,
.formTable .padding_1 .col-sm-8,
.formTable .padding_1 .col-sm-9,
.formTable .padding_1 .col-sm-10,
.formTable .padding_1 .col-sm-11,
.formTable .padding_1 .col-sm-12{
	padding-left: 0px;
	padding-right: 0px;
}
.padding_1{
	padding: 0px;
}
.padding_1 table td{
	padding: 1px !important;
}
.padding_1 table thead tr:last-child {
	border-bottom: 1px;
}
/*附件样式*/
.formError[class^="file_"]{
	margin-top: -14px !important;
}
.file .uploadBtn,
.multifile .uploadBtn{
	display: none !important;
}
.file .webuploader-pick:not(.webuploader-pick-single){
	padding: 5px 12px;
	margin-top: 2px;
}
.ace-file-input .ace-file-container:before {
	background: #00a2d4 !important;
}
.multifile-outside > input{
	background: #fff !important;
	padding-left: 30px !important;
	color: #888 !important;
}
.multifile-outside button{
	background: #00a2d4 !important;
    color: #fff !important;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
}
.multifile-outside .ace-icon{
	display: inline-block;
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    line-height: 24px;
    width: 26px;
    text-align: center;
    font-family: FontAwesome;
    font-size: 13px;
    border: 2px solid #FFF;
    color: #FFF;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    background-color: #D1D1D1;
    z-index: 99;
}
/*多附件上传block样式自定义*/
.multifile .queueList{
	padding-bottom: 9px !important;
	height: 268px;
	overflow-y: auto !important;
}
.multifile .queueList > .filelist > li{
	margin-bottom: 8px;
}
.multifile .queueList > .filelist > li:nth-child(4n){
	margin-right: 0px;
}
div[aria-labelledby^='title:dialog-jdp-eform-multifile-dialog'] .ui-dialog-footer{
	background: #eeeeee;
    padding-top: 5px;
    padding-bottom: 5px;
}
