/*原色*/
.no-skin .btn-default{
    color:#438eb9 !important;
}
.no-skin .page_total .btn{
	background: #438eb9 !important;
	border-color: #438eb9;
	color: #fff !important;
}
.no-skin .form-group .btn-info, 
.no-skin .form-group .btn-info:focus, 
.no-skin .form-group .btn-info.focus{
	background: #438eb9 !important;
	border-radius: 3px;
	color: #fff !important;
}
.no-skin .ui-dialog-close,
.no-skin .ui-dialog-close:hover{
	border: 0px !important;
}
.no-skin .btn,
.no-skin .ui-dialog button, 
.no-skin .btn1{
	border: 1px solid;
	border-color: #438eb9;
	color: #428bca !important;
	background-color: #FFFFFF !important;
}
.no-skin .btn:hover, 
.no-skin .btn.focus:hover, 
.no-skin .btn:active:hover, 
.no-skin .btn:focus:active, 
.no-skin .ui-dialog button:hover, 
.no-skin .ui-dialog button.focus:hover, 
.no-skin .ui-dialog button:active:hover, 
.no-skin .ui-dialog button:focus:active,        
.no-skin .open > .btn-info.dropdown-toggle, 
.no-skin .open > .btn-info.dropdown-toggle:hover, 
.no-skin .open > .btn-info.dropdown-toggle:focus, 
.no-skin .open > .btn-info.dropdown-toggle:active,

.no-skin .btn1:hover, 
.no-skin .btn1.focus:hover, 
.no-skin .btn1:active:hover, 
.no-skin .btn1:focus:active{
	background:#4F99C6 !important;
	color:#fff !important;
	border-color: #4F99C6;
}
.no-skin .table .btn.btn-white:hover{
	color:#4F99C6 !important;
}

.no-skin .btn-sm > .ace-icon{
    margin-right: 0;
}
.no-skin .fa-edit:before,.no-skin .fa-pencil-square-o:before,.no-skin .fa-eye:before{
    font-size:14px;

}

.no-skin .btn-op-ths :hover{

color:#fff!important;
}
.no-skin .fa-edit:hover, .no-skin .fa-pencil-square-o:hover, .no-skin .fa-eye:hover{
    color:#fff;
}
.no-skin .table .btn.btn-white:hover{
    background:#438eb9 !important;
    color:#fff !important;
    border-color: #438eb9;
    border: 1px solid;
 }
 .no-skin .fa-edit:before:hover, .no-skin .fa-pencil-square-o:before:hover, .no-skin .fa-eye:before:hover{
     color:#fff!important;
 }
.no-skin input {
    outline-color: #ffa705;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    /*-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); */
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}
.no-skin input:focus { 
    outline: none !important;
    border:1px solid;
    /*box-shadow: 0 0 10px #719ECE;*/
    border-color: #4F99C6;
    outline: 0;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);*/
}
.no-skin table thead tr:last-child{
    border-bottom: 3px #e9e9e9 solid;
}
.no-skin .btn-primary{
	color: #428BCA !important;
}
.no-skin .btn-danger{
	color: #D15B47 !important;
}
.no-skin .btn-default{
	color:#ABBAC3 !important;
}
.no-skin .btn-info{
	color:#6FB3E0 !important;
}
.no-skin .btn-success{
	color:#87B87F !important;
}
.no-skin .btn-warning{
	color:#FFB752 !important;
}
.no-skin .btn-inverse{
	color:#555555 !important;
}
.no-skin .btn-pink{
	color:#D6487E !important;
}
.no-skin .btn-blue{
	color:#9585BF !important;
}
.no-skin .btn-yellow{
	color: #FEE188 !important;
}
.no-skin .btn-grey{
	color:#A0A0A0 !important;
}
.no-skin .btn-light{
	color: #E7E7E7 !important;
}
.no-skin .btn-link{
	color:#0088CC !important;
}

