<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 普通报告 -->
<mapper namespace="ths.project.analysis.report.GeneralReportMapper">
	<!-- 根据归属类型查询最大月份 -->
	<select id="queryMaxMonthByAscriptionType" resultType="map">
		SELECT SUBSTRING(CONVERT(VARCHAR, MAX(REPORT_TIME), 23), 1, 7) MAX_MONTH 
		  FROM T_ANS_GENERAL_REPORT 
		 WHERE ASCRIPTION_TYPE = #{ascriptionType}
	</select>
	
	<!-- 频率-日：垂直观测的最大时间 -->
	<select id="queryMaxMonthByVertical" resultType="map">
		SELECT CONVERT(VARCHAR(7), MAX(REPORT_TIME), 23) MAX_MONTH 
		  FROM T_ANS_GENERAL_REPORT 
		 WHERE ASCRIPTION_TYPE = #{ascriptionType}
	</select>
	
	<!-- 频率-日：频率为日的最大时间 -->
	<select id="queryMaxMonthByDay" resultType="map">
		SELECT SUBSTRING(CONVERT(VARCHAR, MAX(REPORT_TIME), 23), 1, 7) MAX_MONTH 
		  FROM T_ANS_GENERAL_REPORT 
		 WHERE REPORT_RATE = 'DAY' 
		   AND ASCRIPTION_TYPE = #{ascriptionType}
	</select>
	
	<!-- 频率-日：频率为日的最大时间 -->
	<select id="queryMaxMonthByWeek" resultType="map">
		SELECT SUBSTRING(CONVERT(VARCHAR, MAX(REPORT_TIME), 23), 1, 7) MAX_MONTH 
		  FROM T_ANS_GENERAL_REPORT 
		 WHERE REPORT_RATE = 'WEEK' 
		   AND ASCRIPTION_TYPE = #{ascriptionType}
	</select>
	
	<!-- 频率-月：频率为月的最大时间 -->
	<select id="queryMaxYearByMonth" resultType="map">
		SELECT CONVERT(VARCHAR, YEAR(MAX(REPORT_TIME))) MAX_YEAR
		  FROM T_ANS_GENERAL_REPORT 
		 WHERE REPORT_RATE = 'MONTH' 
		   AND ASCRIPTION_TYPE = #{ascriptionType}
	</select>
	
	<!-- 频率-季度：频率为季度的最大时间 -->
	<select id="queryMaxYearBySeason" resultType="map">
		SELECT CONVERT(VARCHAR, YEAR(MAX(REPORT_TIME))) MAX_YEAR
		  FROM T_ANS_GENERAL_REPORT 
		 WHERE REPORT_RATE = 'SEASON' 
		   AND ASCRIPTION_TYPE = #{ascriptionType}
	</select>

	<!-- 根据月份，查询垂直观测的时间轴列表 -->
	<select id="queryVerticalTimeAxisListByMonth" resultType="map">
		SELECT A.REPORT_TIME,
			   CAST(SUBSTRING(A.REPORT_TIME, 9, 2) AS INTEGER) SHOW_TEXT,
			   CASE WHEN B.REPORT_TIME IS NULL THEN 'N' ELSE 'Y' END IS_DATA,
			   CASE WHEN C.REPORT_TIP IS NULL OR C.REPORT_TIP = '' THEN 'N' ELSE 'Y' END IS_TIP
		  FROM (
			   <!-- 根据月份查询月份中所有日期的列表 -->
			   SELECT CONVERT(VARCHAR, DATEADD(DAY, V_RESULT, #{month} + '-01'), 23) REPORT_TIME 
			     FROM GENERATE_SERIES(0, DATEDIFF(DAY, #{month} + '-01', DATEADD(MS, -3, DATEADD(MM, DATEDIFF(M, 0, #{month} + '-01' ) + 1, 0))), 1) 
		  ) A LEFT JOIN (
			   <!-- 根据月份查询普通报告表中频率为日的，对应归属类型的日期列表， -->
			   SELECT DISTINCT CONVERT(VARCHAR, REPORT_TIME, 23) REPORT_TIME
				 FROM T_ANS_GENERAL_REPORT 
			    <!-- 垂直观测 -->
			    WHERE ASCRIPTION_TYPE = #{ascriptionType}
			      AND CONVERT(VARCHAR(7), REPORT_TIME, 23) = #{month}
		  ) B ON A.REPORT_TIME = B.REPORT_TIME 
		  LEFT JOIN (
		  	 <!--  判断是否有重要提示 -->
		  	 SELECT CONVERT(VARCHAR, AA.REPORT_TIME, 23) REPORT_TIME, REPORT_TIP FROM (
				 SELECT A.*, ROW_NUMBER() OVER (PARTITION BY CONVERT(VARCHAR, REPORT_TIME, 23) ORDER BY CASE WHEN REPORT_TIP IS NULL OR REPORT_TIP = '' THEN 0 ELSE 1 END DESC) RN
				   FROM T_ANS_GENERAL_REPORT A
				  WHERE ASCRIPTION_TYPE = #{ascriptionType}
					AND CONVERT(VARCHAR(7), REPORT_TIME, 23) = #{month}
			 ) AA WHERE AA.RN = 1
		  ) C ON B.REPORT_TIME = C.REPORT_TIME
		   ORDER BY REPORT_TIME ASC
	</select>

	<!-- 频率-日：根据月份，查询频率为日的时间轴列表 -->
	<select id="queryDayTimeAxisListByMonth" resultType="map">
		SELECT A.REPORT_TIME,
			   CAST(SUBSTRING(A.REPORT_TIME, 9, 2) AS INTEGER) SHOW_TEXT,
			   CASE WHEN B.REPORT_TIME IS NULL THEN 'N' ELSE 'Y' END IS_DATA,
			   CASE WHEN C.REPORT_TIP IS NULL OR C.REPORT_TIP = '' THEN 'N' ELSE 'Y' END IS_TIP
		  FROM (
			   <!-- 根据月份查询月份中所有日期的列表 -->
			   SELECT CONVERT(VARCHAR, DATEADD(DAY, V_RESULT, #{month} + '-01'), 23) REPORT_TIME 
			     FROM GENERATE_SERIES(0, DATEDIFF(DAY, #{month} + '-01', DATEADD(MS, -3, DATEADD(MM, DATEDIFF(M, 0, #{month} + '-01' ) + 1, 0))), 1) 
		  ) A LEFT JOIN (
			   <!-- 根据月份查询普通报告表中频率为日的，对应归属类型的日期列表， -->
			   SELECT DISTINCT CONVERT(VARCHAR, REPORT_TIME, 23) REPORT_TIME
				 FROM T_ANS_GENERAL_REPORT 
			    <!-- 频率为日 -->
			    WHERE REPORT_RATE = 'DAY'
			      AND ASCRIPTION_TYPE = #{ascriptionType}
			      AND SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) = #{month}
		  ) B ON A.REPORT_TIME = B.REPORT_TIME 
		  LEFT JOIN (
		  	 <!--  判断是否有重要提示 -->
		  	 SELECT CONVERT(VARCHAR, AA.REPORT_TIME, 23) REPORT_TIME, REPORT_TIP FROM (
				 SELECT A.*, ROW_NUMBER() OVER (PARTITION BY CONVERT(VARCHAR, REPORT_TIME, 23) ORDER BY CASE WHEN REPORT_TIP IS NULL OR REPORT_TIP = '' THEN 0 ELSE 1 END DESC) RN
				   FROM T_ANS_GENERAL_REPORT A
				  WHERE REPORT_RATE = 'DAY'
					AND ASCRIPTION_TYPE = #{ascriptionType}
					AND SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) = #{month}
			 ) AA WHERE AA.RN = 1
		  ) C ON B.REPORT_TIME = C.REPORT_TIME
		   ORDER BY REPORT_TIME ASC
	</select>
	
	<!-- 频率-周：根据月份，查询频率为周的时间轴列表 -->
	<select id="queryWeekTimeAxisListByMonth" resultType="map">
		SELECT A.WEEK REPORT_TIME,
			   '第' + CONVERT(VARCHAR, A.WEEK) + '周' SHOW_TEXT,
			   CASE WHEN B.WEEK IS NULL THEN 'N' ELSE 'Y' END IS_DATA,
			   CASE WHEN C.REPORT_TIP IS NULL OR C.REPORT_TIP = '' THEN 'N' ELSE 'Y' END IS_TIP
		  FROM (
		  		<!-- 根据月份查询月份中所有周的列表 -->
			   SELECT DBO.GETDATEPARTOFWEEK(#{month} + '-01') + V_RESULT WEEK
					 FROM DBO.GENERATE_SERIES(0, DBO.GETDATEPARTOFWEEK(DATEADD(DAY, -1, DATEADD(MM , DATEDIFF(MM, 0, #{month}+'-01') + 1, 0))) - DBO.GETDATEPARTOFWEEK(DATEADD(MM, DATEDIFF(MM, 0, #{month} + '-01'), 0)), 1)
		  ) A LEFT JOIN (
		  	   <!-- 根据月份查询普通报告表中频率为周的对应归属类型的周列表-->
			   SELECT DISTINCT DBO.GETDATEPARTOFWEEK(REPORT_TIME) WEEK
				 FROM T_ANS_GENERAL_REPORT
				 <!-- 频率为周 -->
				WHERE REPORT_RATE = 'WEEK'
				  AND ASCRIPTION_TYPE = #{ascriptionType}
				  AND SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) = #{month}
		  ) B ON A.WEEK = B.WEEK
		  LEFT JOIN (
		  	  <!--  判断是否有重要提示 -->
		  	  SELECT DBO.GETDATEPARTOFWEEK(REPORT_TIME) WEEK, REPORT_TIP FROM (
				  SELECT A.*, ROW_NUMBER() OVER (PARTITION BY DBO.GETDATEPARTOFWEEK(REPORT_TIME) ORDER BY CASE WHEN REPORT_TIP IS NULL OR REPORT_TIP = '' THEN 0 ELSE 1 END DESC) RN
					FROM T_ANS_GENERAL_REPORT A
				   WHERE REPORT_RATE = 'WEEK'
					 AND ASCRIPTION_TYPE = #{ascriptionType}
					 AND SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) = #{month}
			  ) AA WHERE AA.RN = 1
		  ) C ON B.WEEK = C.WEEK
		   ORDER BY A.WEEK ASC
	</select>
	
	<!-- 频率-月：根据年份，查询频率为月的时间轴列表 -->
	<select id="queryMonthTimeAxisListByYear" resultType="map">
		SELECT A.REPORT_TIME,
			   CONVERT(INTEGER, SUBSTRING(A.REPORT_TIME, 6, 2)) SHOW_TEXT,
			   CASE WHEN B.REPORT_TIME IS NULL THEN 'N' ELSE 'Y' END IS_DATA,
			   CASE WHEN C.REPORT_TIP IS NULL OR C.REPORT_TIP = '' THEN 'N' ELSE 'Y' END IS_TIP 
		  FROM (
		  	   <!-- 查询指定年份所有月 -->
			   SELECT #{year} + '-' + DATENAME(MONTH, DATEADD(MONTH, V_RESULT, #{year})) REPORT_TIME FROM GENERATE_SERIES(0, 11, 1)
		  ) A LEFT JOIN (
		  	   <!-- 根据年份查询普通报告表中频率为月的，对应归属类型的日期列表， -->
			   SELECT DISTINCT SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) REPORT_TIME
				 FROM T_ANS_GENERAL_REPORT 
				 <!-- 频率为月 -->
				WHERE REPORT_RATE = 'MONTH'
				  AND ASCRIPTION_TYPE = #{ascriptionType}
				  AND YEAR(REPORT_TIME) = #{year}
		  ) B ON A.REPORT_TIME = B.REPORT_TIME
		  LEFT JOIN (
		  	  <!--  判断是否有重要提示 -->
		  	  SELECT SUBSTRING(CONVERT(VARCHAR, AA.REPORT_TIME, 23), 1, 7) REPORT_TIME, REPORT_TIP FROM (
				  SELECT A.*, ROW_NUMBER() OVER (PARTITION BY SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) ORDER BY CASE WHEN REPORT_TIP IS NULL OR REPORT_TIP = '' THEN 0 ELSE 1 END DESC) RN
					FROM T_ANS_GENERAL_REPORT A
				   WHERE REPORT_RATE = 'MONTH'
					 AND ASCRIPTION_TYPE = #{ascriptionType}
					 AND YEAR(REPORT_TIME) = #{year}
			  ) AA WHERE AA.RN = 1
		  ) C ON B.REPORT_TIME = C.REPORT_TIME
		   ORDER BY REPORT_TIME ASC
	</select>
	
	<!-- 频率-季度：根据年份，查询频率为季度的时间轴列表 -->
	<select id="querySeasonTimeAxisListByYear" resultType="map">
		SELECT A.SEASON REPORT_TIME,
			   '第' + CONVERT(VARCHAR, A.SEASON) + '季度' SHOW_TEXT,
			   CASE WHEN B.SEASON IS NULL THEN 'N' ELSE 'Y' END IS_DATA,
			   CASE WHEN C.REPORT_TIP IS NULL OR C.REPORT_TIP = '' THEN 'N' ELSE 'Y' END IS_TIP
		  FROM (
		  	   <!-- 查询指定年份所有季度 -->
			   SELECT V_RESULT SEASON FROM DBO.GENERATE_SERIES (1, 4, 1)
		  ) A LEFT JOIN (
		  	 <!-- 根据年份查询普通报告表中频率为季度对应归属类型的日期列表， -->
			 SELECT DISTINCT DATEPART(QUARTER, REPORT_TIME) SEASON
				 FROM T_ANS_GENERAL_REPORT
				 <!-- 频率为季度 -->
				WHERE REPORT_RATE = 'SEASON'
				  AND ASCRIPTION_TYPE = #{ascriptionType}
				  AND YEAR(REPORT_TIME) = #{year}
		  ) B ON A.SEASON = B.SEASON
		  LEFT JOIN (
		  		<!--  判断是否有重要提示 -->
		  	  SELECT DATEPART(QUARTER, REPORT_TIME) SEASON, REPORT_TIP FROM (
				  SELECT A.*, ROW_NUMBER() OVER (PARTITION BY DATEPART(QUARTER, REPORT_TIME) ORDER BY CASE WHEN REPORT_TIP IS NULL OR REPORT_TIP = '' THEN 0 ELSE 1 END DESC) RN
					FROM T_ANS_GENERAL_REPORT A
				   WHERE REPORT_RATE = 'SEASON'
					 AND ASCRIPTION_TYPE = #{ascriptionType}
					 AND YEAR(REPORT_TIME) = #{year}
			  ) AA WHERE AA.RN = 1
		  ) C ON B.SEASON = C.SEASON
		   ORDER BY A.SEASON ASC
	</select>
	
	<!-- 垂直观测的报告Id -->
	<select id="queryVerticalReportIdByReportTime" resultType="map">
		SELECT REPORT_ID
		  FROM T_ANS_GENERAL_REPORT 
	 	 WHERE ASCRIPTION_TYPE = #{ascriptionType}
		   AND REPORT_TIME >= CONVERT(DATETIME, #{reportTime}, 120)
		   <![CDATA[AND REPORT_TIME < DATEADD(DAY, 1, CONVERT(DATETIME, #{reportTime}, 120))]]>
		 ORDER BY CREATE_TIME ASC, REPORT_NAME ASC
	</select>
	
	<!-- 垂直观测的报告时间 -->
	<select id="queryVerticalReportTimeByReportId" resultType="map">
		SELECT
			CONVERT(VARCHAR, REPORT_TIME, 23) AS REPORT_TIME 
		FROM
			T_ANS_GENERAL_REPORT 
		WHERE
			REPORT_ID = #{reportId}
	</select>
	
	<!-- 频率-日：根据报告时间查询频率为日的记录列表 -->
	<select id="queryDayRecordListByReportTime" resultType="map">
		SELECT REPORT_ID, 
				ASCRIPTION_TYPE, 
				REPORT_BATCH, 
				REPORT_NAME, 
				CONVERT(VARCHAR, REPORT_TIME, 23) REPORT_TIME, 
				REPORT_RATE, 
				REPORT_FREQUENCY, 
				REPORT_TYPE, 
				REPORT_TIP, 
				REMARK, 
				FIELD1, 
				FIELD2, 
				FIELD3, 
				FIELD4, 
				REPORT_INSCRIBE, 
				STATE, 
				CONVERT(VARCHAR, CREATE_TIME, 120) CREATE_TIME, 
				CREATE_DEPT, 
				CREATE_USER, 
				CONVERT(VARCHAR, EDIT_TIME, 120) EDIT_TIME, 
				EDIT_USER
		  FROM T_ANS_GENERAL_REPORT 
	 	 WHERE REPORT_RATE = 'DAY'
		   AND ASCRIPTION_TYPE = #{ascriptionType}
		   AND REPORT_TIME >= CONVERT(DATETIME, #{reportTime}, 120)
		   <![CDATA[AND REPORT_TIME < DATEADD(DAY, 1, CONVERT(DATETIME, #{reportTime}, 120))]]>
		 ORDER BY CREATE_TIME ASC, REPORT_NAME ASC
	</select>
	
	<!-- 频率-周：根据报告时间查询频率为周的记录列表 -->
	<select id="queryWeekRecordListByReportTime" resultType="map">
		SELECT REPORT_ID, 
				ASCRIPTION_TYPE, 
				REPORT_BATCH, 
				REPORT_NAME, 
				CONVERT(VARCHAR, REPORT_TIME, 23) REPORT_TIME,
				REPORT_RATE, 
				REPORT_FREQUENCY, 
				REPORT_TYPE, 
				REPORT_TIP, 
				REMARK, 
				FIELD1, 
				FIELD2, 
				FIELD3, 
				FIELD4, 
				REPORT_INSCRIBE, 
				STATE, 
				CONVERT(VARCHAR, CREATE_TIME, 120) CREATE_TIME, 
				CREATE_DEPT, 
				CREATE_USER, 
				CONVERT(VARCHAR, EDIT_TIME, 120) EDIT_TIME, 
				EDIT_USER
		  FROM T_ANS_GENERAL_REPORT 
	 	 WHERE REPORT_RATE = 'WEEK'
		   AND ASCRIPTION_TYPE = #{ascriptionType}
		   AND DBO.GETDATEPARTOFWEEK(REPORT_TIME) = #{reportTime}
		   AND SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) = #{month}
		 ORDER BY CREATE_TIME ASC, REPORT_NAME ASC
	</select>
	
	<!-- 频率-月：根据报告时间查询频率为月的记录列表 -->
	<select id="queryMonthRecordListByReportTime" resultType="map">
		SELECT REPORT_ID, 
				ASCRIPTION_TYPE, 
				REPORT_BATCH, 
				REPORT_NAME, 
				CONVERT(VARCHAR, REPORT_TIME, 23) REPORT_TIME,
				REPORT_RATE, 
				REPORT_FREQUENCY, 
				REPORT_TYPE, 
				REPORT_TIP, 
				REMARK, 
				FIELD1, 
				FIELD2, 
				FIELD3, 
				FIELD4, 
				REPORT_INSCRIBE, 
				STATE, 
				CONVERT(VARCHAR, CREATE_TIME, 120) CREATE_TIME, 
				CREATE_DEPT, 
				CREATE_USER, 
				CONVERT(VARCHAR, EDIT_TIME, 120) EDIT_TIME, 
				EDIT_USER
		  FROM T_ANS_GENERAL_REPORT 
	 	 WHERE REPORT_RATE = 'MONTH'
		   AND ASCRIPTION_TYPE = #{ascriptionType}
		   AND SUBSTRING(CONVERT(VARCHAR, REPORT_TIME, 23), 1, 7) = #{reportTime}
		 ORDER BY CREATE_TIME ASC, REPORT_NAME ASC
	</select>
	
	<!-- 频率-季度：根据报告时间查询频率为季度的记录列表 -->
	<select id="querySeasonRecordListByReportTime" resultType="map">
		SELECT REPORT_ID, 
				ASCRIPTION_TYPE, 
				REPORT_BATCH, 
				REPORT_NAME, 
				CONVERT(VARCHAR, REPORT_TIME, 23) REPORT_TIME,
				REPORT_RATE, 
				REPORT_FREQUENCY, 
				REPORT_TYPE, 
				REPORT_TIP, 
				REMARK, 
				FIELD1, 
				FIELD2, 
				FIELD3, 
				FIELD4, 
				REPORT_INSCRIBE, 
				STATE, 
				CONVERT(VARCHAR, CREATE_TIME, 120) CREATE_TIME, 
				CREATE_DEPT, 
				CREATE_USER, 
				CONVERT(VARCHAR, EDIT_TIME, 120) EDIT_TIME, 
				EDIT_USER
		  FROM T_ANS_GENERAL_REPORT 
	 	 WHERE REPORT_RATE = 'SEASON'
		   AND ASCRIPTION_TYPE = #{ascriptionType}
		   AND YEAR(REPORT_TIME) = #{year}
		   AND REPORT_FREQUENCY = #{reportTime}
		 ORDER BY CREATE_TIME ASC, REPORT_NAME ASC
	</select>
	
	<!-- 根据报告ID查询频率为日的报告内容 -->
	<select id="queryGeneralReportById" resultType="map">
		SELECT REPORT_ID, ASCRIPTION_TYPE, REPORT_BATCH,
			   REPORT_NAME, CONVERT(VARCHAR, REPORT_TIME, 23) REPORT_TIME, CONVERT(VARCHAR, REPORT_TIME, 120) REPORT_TIME_1,
			   REPORT_RATE,
			   REPORT_FREQUENCY, REPORT_TYPE, REPORT_TIP,
			   REMARK, FIELD1, FIELD2, 
			   FIELD3, FIELD4,FIELD5,FIELD6, REPORT_INSCRIBE,
			   STATE, CONVERT(VARCHAR, CREATE_TIME, 120) CREATE_TIME, CREATE_DEPT,
			   CREATE_USER, CONVERT(VARCHAR, EDIT_TIME, 120) EDIT_TIME, EDIT_USER
		  FROM T_ANS_GENERAL_REPORT WHERE REPORT_ID = #{reportId}
	</select>
	
	<!-- 查询特定状态记录数 -->
	<select id="queryStateNumber" resultType="map">
		SELECT COUNT(1) STATE_NUMBER 
		  FROM T_ANS_GENERAL_REPORT 
		 WHERE ASCRIPTION_TYPE = #{ascriptionType}
		   AND STATE = #{state}
		   AND REPORT_TIME = CONVERT(DATETIME, #{reportTime}, 120)
	</select>
	
	<!-- 根据报告时间范围和状态查询报告列表 -->
	<select id="queryGeneralReportByTimeAndState" resultType="map">
		SELECT * FROM T_ANS_GENERAL_REPORT 
		 WHERE ASCRIPTION_TYPE = #{ascriptionType} 
		   AND REPORT_TIME >= CONVERT(DATETIME, #{startTime}, 120) 
		   <![CDATA[AND REPORT_TIME <= CONVERT(DATETIME, #{endTime}, 120)]]>
		   AND STATE = #{state} ORDER BY EDIT_TIME DESC
	</select>
	
	<!-- 修改报告状态 -->
	<select id="updateReportState">
		UPDATE T_ANS_GENERAL_REPORT SET STATE = #{state} WHERE REPORT_ID = #{reportId}
	</select>
	
	<!-- 插入报告信息 -->
	<insert id="insertReport">
		INSERT INTO T_ANS_GENERAL_REPORT (
			REPORT_ID, ASCRIPTION_TYPE, REPORT_BATCH,
			REPORT_NAME, REPORT_TIME, REPORT_RATE,
			REPORT_FREQUENCY, REPORT_TYPE, REPORT_TIP,
			REMARK, FIELD1, FIELD2, 
			FIELD3, FIELD4,FIELD5, FIELD6,REPORT_INSCRIBE,
			STATE, CREATE_TIME, CREATE_DEPT,
			CREATE_USER, EDIT_TIME, EDIT_USER
		) VALUES (
			#{reportId}, #{ascriptionType}, #{reportBatch},
			#{reportName}, CONVERT(DATETIME, #{reportTime}, 120), #{reportRate},
			#{reportFrequency}, #{reportType}, #{reportTip},
			#{remark}, #{field1}, #{field2},
			#{field3}, #{field4},#{field5}, #{field6}, #{reportInscribe},
			#{state}, CONVERT(DATETIME, #{createTime}, 120), #{createDept},
			#{createUser}, CONVERT(DATETIME, #{editTime}, 120), #{editUser}
		)
	</insert>
	
	<!-- 根据报告ID,更新报告 -->
	<update id="updateReportByReportId">
		UPDATE T_ANS_GENERAL_REPORT SET
<!-- 				ASCRIPTION_TYPE = #{ascriptionType}, -->
				REPORT_BATCH = #{reportBatch},
				REPORT_NAME = #{reportName},
				<if test="reportTime!=null and reportTime!='' ">
					REPORT_TIME = CONVERT(DATETIME, #{reportTime}, 120),
				</if>
				REPORT_RATE = #{reportRate},
				<if test="REPORT_FREQUENCY!=null and REPORT_FREQUENCY!='' ">
					REPORT_FREQUENCY = #{reportFrequency},
				</if>
				REPORT_TYPE = #{reportType},
				REPORT_TIP = #{reportTip},
				REMARK = #{remark},
				FIELD1 = #{field1},
				FIELD2 = #{field2},
				FIELD3 = #{field3},
				FIELD4 = #{field4},
				FIELD5 = #{field5},
				FIELD6 = #{field6},
				REPORT_INSCRIBE = #{reportInscribe},
				STATE = #{state},
				EDIT_TIME = CONVERT(DATETIME, #{editTime}, 120),
				EDIT_USER = #{editUser}
		WHERE REPORT_ID = #{reportId}
	</update>
	
	<!-- 根据报告ID删除报告 -->
	<delete id="deleteReportById">
		DELETE FROM T_ANS_GENERAL_REPORT WHERE REPORT_ID = #{reportId}
	</delete>
</mapper>
