@charset "utf-8";
/* CSS Document */
html{height:100%; overflow:hidden;}
body {font-family: "微软雅黑",MicrosoftYaHei,Arial,Helvetica,sans-serif;}
input,textarea{font-family: "微软雅黑",MicrosoftYaHei,Arial,Helvetica,sans-serif;}
body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul,a,i{margin: 0;padding: 0;font-size: 14px;color: #444}
table, table td, table th {border-collapse: collapse;border-spacing: 0;border-color: #dcdcdc;}
fieldset, img {border: 0}
ol, ul {list-style: none}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight:normal;}
a {text-decoration: none;cursor: pointer;color: #444;margin: 0;padding: 0;}
input {outline: medium none;}



/**左侧框 430**/
.l-wrap{width:80px;height: 100%;background:none;position: fixed;left:0px; top: 0; z-index: 10;}
.l-left{width:100x; background: #313d4d;overflow: hidden;position: absolute;left: 0;top: 0;bottom: 0;z-index: 2;overflow-y: scroll;}
.l-left-shadow{box-shadow:0px 0px 3px 3px #3d4451;}
.l-left-shadow{box-shadow:0px 0px 3px 3px #3d4451;}
.l-left dl{width: 80px;height: 71px;margin: 4px;text-align: center;cursor: pointer;}
.l-left dl dt{width:22px;height: 40px;margin: 0 auto;overflow: hidden;}
.l-left dl dd{color: #c1c4c9;font-size: 14px;}
.l-left dl dt.img1{background:url(../images/1.png) no-repeat left center;}
.l-left dl dt.img2{background:url(../images/2.png) no-repeat left center;}
.l-left dl dt.img3{background:url(../images/3.png) no-repeat left center;}
.l-left dl dt.img4{background:url(../images/4.png) no-repeat left center;}
.l-left dl dt.img5{background:url(../images/5.png) no-repeat left center;}
.l-left dl dt.img6{background:url(../images/6.png) no-repeat left center;}
.l-left dl.cur,.l-left dl:hover{background: #464f5e;}
.l-left dl.cur dt,.l-left dl:hover dt{background-position: right center!important;}
.l-left dl:hover dt i{color:#fff;}
.l-left dl.cur dd,.l-left dl:hover dd{color:#fff;}
.l-left dl dt>i{color: #c1c4c9;margin:10px 0 0 0;}
.vertical-nav dl{width: 79px;height: 71px;text-align: center;cursor: pointer;}
.vertical-nav dl dt{width:22px;height: 40px;margin: 0 auto;overflow: hidden;}
.vertical-nav dl dd{color: #c1c4c9;font-size: 14px;}
.vertical-nav dl dt.img1{background:url(../images/1.png) no-repeat left center;}
.vertical-nav dl dt.img2{background:url(../images/2.png) no-repeat left center;}
.vertical-nav dl dt.img3{background:url(../images/3.png) no-repeat left center;}
.vertical-nav dl dt.img4{background:url(../images/4.png) no-repeat left center;}
.vertical-nav dl dt.img5{background:url(../images/5.png) no-repeat left center;}
.vertical-nav dl dt.img6{background:url(../images/6.png) no-repeat left center;}
.vertical-nav dl.cur,.vertical-nav dl:hover{background: #464f5e;}
.vertical-nav dl.cur dt,.vertical-nav dl:hover dt{background-position: right center;}
.vertical-nav dl.cur dd,.vertical-nav dl:hover dd{color:#fff;}
.vertical-nav li:hover{background: #464f5e;}
.vertical-nav a{color: #c1c4c9;font-size: 14px;}
.vertical-nav-ul{display:none;left: 89px; top: 0;position:absolute;z-index:999;min-width:220px;background:#313d4d;color: #c1c4c9;font-size: 14px;box-shadow:none;}
.vertical-nav > li i{margin: 0px 0px 0 0px;}
.vertical-nav > li dt>i {margin: -10px 10px 0 -15px;}
.vertical-nav > li li{}
.l-right{float: left;width: 350px;background:#f8f8f8;position: absolute;left: -350px;top: 0;bottom: 0;z-index: 1;overflow: hidden;display: block;box-shadow:0px 0px 3px 3px #3d4451;}
.lr-close{position: absolute;right: 13px;top:16px;z-index:3;width: 16px;height: 16px;cursor: pointer;background:url(../images/9.png) no-repeat center;}
.lr-title{height: 48px;background: #fff;overflow: hidden;box-shadow: 0px 0px 3px 3px #e8e8e8;position: relative; z-index: 2;}
.lr-title p{width: 30%;text-align: center;line-height: 48px;font-size: 16px;color: #787878;float: left;cursor: pointer;}
.lr-title p.cur,.lr-title p:hover{color: #438eb9;}
.lr-area{ overflow:hidden; padding:12px 0; background:#f8f8f8;}
.lr-area a{ display:block; float:left; margin: 0 2.3%;font-size:14px; color:#646464; line-height:24px;}
.lr-area a.cur,.lr-area a:hover{ color:#438eb9;}
.lr-hr{width:92%;height: 1px; border-bottom: 1px dashed #e3e3e3;margin:0 auto;}
.lr-radio{overflow:hidden;padding-bottom: 12px;}
.lr-radio label{font-size:14px; color:#727171;display: block;float: left; height:14px; line-height:14px; background:url(../images/11.png) no-repeat left center; margin: 12px 3% 0;}
.lr-radio label.cur{background:url(../images/10.png) no-repeat left center;}
.lr-radio label input{ width:12px; height:12px; margin-right:2px;vertical-align: -1px;opacity:0;filter:alpha(opacity=0);}
.lr-daytime{margin: 0 4%;height: 58px;overflow: hidden;}
.lr-daytime div{overflow: hidden;}
.lr-daytime span{line-height: 56px;display: inline-block;font-size: 14px;color:#646464;}
.lr-daytime input{width:100px;height:26px;line-height:26px;display: inline-block;border: none;border: 2px solid #eaeaea;border-radius: 3px;font-size: 12px;color: #595757;padding: 0 22px 0 8px;background:#fff url(../images/12.png) no-repeat 94% center;}
.lr-table-title{box-shadow: 0px 0px 2px 1px #e8e8e8;position: relative; z-index: 2;}
.lrt-position{margin-top: -30px; background: #fff;position: absolute;left:0px;top: 276px;bottom: 0;z-index: 1;overflow-y: scroll;padding-bottom: 50px;}
.lr-table table{table-layout:fixed; width:100%;text-align:center;  border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc;}
.lr-table table tr{ border-bottom:1px solid #dcdcdc;background:#f3f3f3;}
.lr-table table th,.lr-table table td{ overflow: hidden;text-overflow: ellipsis;white-space: nowrap; height:29px; font-size:14px; color:#727171; border:none;}
.lr-table table a:hover,.lr-table table a.cur{ color:#438eb9;}
.lr-table table span.zs{ display:block; margin:0 auto; width:29px; height:17px; line-height:17px; color:#fff; font-size:12px; border-radius:7px;}
.lr-table table span.level1{ background: #85ce58;}
.lr-table table span.level2{ background: #ffd91c;}
.lr-table table span.level3{ background: #ff7e00;}
.lr-table table span.level4{ background: #ff0000;}
.lr-table table span.level5{ background: #99004c;}
.lr-table table span.level6{ background: #7e0023;}
.lr-table table th{ background:#fff; color:#717171; font-size:14px; font-weight:bold;}
.lr-table table th span{font-weight: normal;}
.lr-table table tr:nth-child(odd){ background:#fff;}
/*图片*/
.icon_img{ background: url(../images/1.png) left center; width: 22px; height: 22px; display: block;float: left; margin-top: 10px;}