<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ths.project.analysis.forecast.airforecastmonth.mapper.EnvAirdataRegionDayMapper">


    <!--查询一个月的记录-->
    <select id="queryMonthById" resultType="ths.project.analysis.forecast.airforecastmonth.entity.EnvAirdataRegionDay">
    SELECT
	convert(datetime,A.MONITORTIME) AS MONITORTIME,
	B.CODE_REGION,
	B.REGIONNAME,
	B.PM10,
	B.SO2,
	B.NO2,
	B.PM2_5,
	B.O3,
	B.O3_8,
	B.CO,
	B.AQI,
	B.PRIMARYPOLLUTANT,
	B.IPM10,
	B.ISO2,
	B.INO2,
	B.IPM2_5,
	B.IO3,
	B.IO3_8,
	B.ICO,
	B.COLOR,
	B.CODE_AQILEVEL,
	B.AQILEVELNAME,
	B.CODE_AQISTATION,
	B.AQISTATIONNAME,
	B.UPDATETIME,
	B.CREATE_TIME,
	B.CREATE_USER,
	B.UPDATE_USER
FROM
	(
	SELECT CONVERT
		( VARCHAR ( 10 ), DATEADD( DAY, V_RESULT, #{monitorTime} + '-01' ), 23 ) MONITORTIME
	FROM
		GENERATE_SERIES (
			0,
			DATEDIFF(
				DAY,
				#{monitorTime} + '-01',
				DATEADD( MS, - 3, DATEADD( MM, DATEDIFF( M, 0, #{monitorTime} + '-01' ) + 1, 0 ) )
			),
			1
		)
	) A
	LEFT JOIN (
	SELECT SUBSTRING
		( CONVERT ( VARCHAR, MONITORTIME, 23 ), 1, 10 ) MONITORTIME,
		CODE_REGION,
		REGIONNAME,
		PM10,
		SO2,
		NO2,
		PM2_5,
		O3,
		O3_8,
		CO,
		AQI,
		PRIMARYPOLLUTANT,
		IPM10,
		ISO2,
		INO2,
		IPM2_5,
		IO3,
		IO3_8,
		ICO,
		COLOR,
		CODE_AQILEVEL,
		AQILEVELNAME,
		CODE_AQISTATION,
		AQISTATIONNAME,
		UPDATETIME,
		CREATE_TIME,
		CREATE_USER,
		UPDATE_USER
	FROM
		TENVAIR.T_ENV_AIRDATA_REGION_DAY
	WHERE
		SUBSTRING ( CONVERT ( VARCHAR, MONITORTIME, 23 ), 1, 7 ) = #{monitorTime}
		AND CODE_REGION = '510100000000'

) B ON A.MONITORTIME = B.MONITORTIME
ORDER BY
	A.MONITORTIME;
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="ths.project.analysis.forecast.airforecastmonth.entity.EnvAirdataRegionDay">
        insert into TENVAIR.T_ENV_AIRDATA_REGION_DAY(MONITORTIME,CODE_REGION,REGIONNAME, PM10, SO2, NO2, PM2_5, O3, O3_8, CO, AQI, PRIMARYPOLLUTANT, IPM10, ISO2, INO2, IPM2_5, IO3, IO3_8, ICO, COLOR, CODE_AQILEVEL, AQILEVELNAME, CODE_AQISTATION, AQISTATIONNAME, CREATE_TIME, CREATE_USER, DELETE_FLAG)
        values (#{monitorTime},#{codeRegion},#{regionName}, #{pm10}, #{so2}, #{no2}, #{pm25}, #{o3}, #{o38}, #{co}, #{aqi}, #{primaryPollutant}, #{ipm10}, #{iso2}, #{ino2}, #{ipm25}, #{io3}, #{io38}, #{ico}, #{color}, #{codeAqiLevel}, #{aqiLevelName}, #{codeAqistation}, #{aqiStationName}, #{createTime}, #{createUser}, #{deleteFlag})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="ths.project.analysis.forecast.airforecastmonth.entity.EnvAirdataRegionDay">
        update TENVAIR.T_ENV_AIRDATA_REGION_DAY
        <set>
            <if test="regionName != null and regionName != ''">
                REGIONNAME = #{regionName},
            </if>
            <if test="pm10 != null">
                PM10 = #{pm10},
            </if>
            <if test="so2 != null">
                SO2 = #{so2},
            </if>
            <if test="no2 != null">
                NO2 = #{no2},
            </if>
            <if test="pm25 != null">
                PM2_5 = #{pm25},
            </if>
            <if test="o3 != null">
                O3 = #{o3},
            </if>
            <if test="o38 != null">
                O3_8 = #{o38},
            </if>
            <if test="co != null">
                CO = #{co},
            </if>
            <if test="aqi != null">
                AQI = #{aqi},
            </if>
            <if test="primaryPollutant != null and primaryPollutant != ''">
                PRIMARYPOLLUTANT = #{primaryPollutant},
            </if>
            <if test="ipm10 != null">
                IPM10 = #{ipm10},
            </if>
            <if test="iso2 != null">
                ISO2 = #{iso2},
            </if>
            <if test="ino2 != null">
                INO2 = #{ino2},
            </if>
            <if test="ipm25 != null">
                IPM2_5 = #{ipm25},
            </if>
            <if test="io3 != null">
                IO3 = #{io3},
            </if>
            <if test="io38 != null">
                IO3_8 = #{io38},
            </if>
            <if test="ico != null">
                ICO = #{ico},
            </if>
            <if test="color != null and color != ''">
                COLOR = #{color},
            </if>
            <if test="codeAqiLevel != null and codeAqiLevel != ''">
                CODE_AQILEVEL = #{codeAqiLevel},
            </if>
            <if test="aqiLevelName != null and aqiLevelName != ''">
                AQILEVELNAME = #{aqiLevelName},
            </if>
            <if test="codeAqistation != null and codeAqistation != ''">
                CODE_AQISTATION = #{codeAqistation},
            </if>
            <if test="aqiStationName != null and aqiStationName != ''">
                AQISTATIONNAME = #{aqiStationName},
            </if>
            <if test="updateTime != null">
                and UPDATETIME = #{updateTime}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and UPDATE_USER = #{updateUser}
            </if>
        </set>
        where SUBSTRING(CONVERT(VARCHAR, MONITOR_TIME, 23), 1, 10) = #{monitorTime} and CODE_REGION = #{codeRegion}
        and DELETE_FLAG = 0
    </update>

    <!--通过主键删除-->
    <update id="deleteById">
        update TENVAIR.T_ENV_AIRDATA_REGION_DAY  set DELETE_FLAG = 1
         where SUBSTRING(CONVERT(VARCHAR, MONITORTIME, 23), 1, 10) = #{monitorTime}  and CODE_REGION = #{codeRegion}
         and DELETE_FLAG = 0
    </update>

    <select id="countNumAndAvg" resultType="java.util.Map">
        SELECT
            A.*,
            B.*,
            round((A.YNUM+A.LNUM)*1.0/A.COUNTNUM*1.0,3)*100 THISYEAR,
            round((B.LASTYEARYNUM+B.LASTYEARLNUM)*1.0/B.LASTYEARCOUNTNUM*1.0,3)*100 LASTYEAR FROM (
            SELECT
                SUM(CASE AQISTATIONNAME WHEN '优' 	THEN 1 	ELSE 0 	END ) YNUM,
                SUM(CASE AQISTATIONNAME WHEN '良' 	THEN 1 	ELSE 0 END ) LNUM,
                SUM(CASE AQISTATIONNAME WHEN '轻度污染' THEN 1 ELSE 0 END ) QDNUM,
                SUM(CASE AQISTATIONNAME WHEN '中度污染' THEN 1 ELSE 0 END ) ZDNUM,
                SUM(CASE AQISTATIONNAME WHEN '重度污染' THEN 1 ELSE 0 END ) ZZDNUM,
                SUM(CASE AQISTATIONNAME WHEN '严重污染' THEN 1 ELSE 0 END ) YZNUM,
                SUM(CASE WHEN  PRIMARYPOLLUTANT LIKE '%PM2.5%' THEN 1 ELSE 0 END ) NUMPM25,
                SUM(CASE WHEN  PRIMARYPOLLUTANT LIKE '%PM10%' THEN 1 ELSE 0 END ) NUMPM10,
                SUM(CASE WHEN  PRIMARYPOLLUTANT LIKE '%NO2%' THEN 1 ELSE 0 END ) NUMNO2,
                SUM(CASE WHEN  PRIMARYPOLLUTANT LIKE '%O3_8%' THEN 1 ELSE 0 END ) NUMO3,
                SUM(CASE WHEN  PRIMARYPOLLUTANT LIKE '%SO2%' THEN 1 ELSE 0 END ) NUMSO2,
                SUM(CASE WHEN  PRIMARYPOLLUTANT LIKE '%CO%' THEN 1 ELSE 0 END ) NUMCO,
                ROUND(AVG(PM2_5),0) AVGPM25,
                ROUND(AVG(PM10),0) AVGPM10,
                ROUND(AVG(SO2),0) AVGSO2,
                ROUND(AVG(NO2),0) AVGNO2,
                ROUND(AVG(O3_8),0) AVGO3,
                ROUND(AVG(CO),1) AVGCO,
                COUNT(1) COUNTNUM
            FROM
                TENVAIR.T_ENV_AIRDATA_REGION_DAY
            WHERE
                CODE_REGION = '510100000000' AND
                MONITORTIME >= CONVERT(DATETIME,#{startTime}, 120) AND
                <![CDATA[ MONITORTIME <= CONVERT(DATETIME,#{endTime}, 120)]]>
        ) A LEFT JOIN (
            SELECT
                SUM(CASE AQISTATIONNAME WHEN '优' 	THEN 1 	ELSE 0 	END ) LASTYEARYNUM,
                SUM(CASE AQISTATIONNAME WHEN '良' 	THEN 1 	ELSE 0 END ) LASTYEARLNUM,
                ROUND(AVG(PM2_5),0) LASTYEARAVGPM25,
                ROUND(AVG(PM10),0) LASTYEARAVGPM10,
                COUNT(1) LASTYEARCOUNTNUM
            FROM
                TENVAIR.T_ENV_AIRDATA_REGION_DAY
            WHERE
                CODE_REGION = '510100000000' AND
                MONITORTIME >= DATEADD(YEAR,-1,CONVERT(DATETIME,#{startTime}, 120)) AND
                <![CDATA[MONITORTIME <=  DATEADD(YEAR,-1,CONVERT(DATETIME,#{endTime}, 120))]]>
        ) B ON 1=1
    </select>

    <select id="selectListByTime" resultType="ths.project.analysis.forecast.airforecastmonth.entity.EnvAirdataRegionDay">
  SELECT CONVERT(DATETIME,A.MONITORTIME,120) MONITORTIME,CODE_REGION,regionname,PM10,SO2,NO2,PM2_5,O3,O3_8,CO,AQI,primarypollutant,IPM10,ISO2,INO2,IPM2_5,IO3,IO3_8,ICO,COLOR,CODE_AQILEVEL,AQILEVELNAME,CODE_AQISTATION,AQISTATIONNAME
  FROM (
            SELECT CONVERT(VARCHAR(10), DATEADD(DAY, V_RESULT,#{startTime}), 23) MONITORTIME FROM  DBO.GENERATE_SERIES(0,6,1)
        ) A LEFT JOIN (
            SELECT
                MONITORTIME,CODE_REGION,regionname,PM10,SO2,NO2,PM2_5,O3,O3_8,CO,AQI,primarypollutant,IPM10,ISO2,INO2,IPM2_5,IO3,IO3_8,ICO,COLOR,CODE_AQILEVEL,AQILEVELNAME,CODE_AQISTATION,AQISTATIONNAME,UPDATETIME,CREATE_TIME,CREATE_USER,UPDATE_USER,DELETE_FLAG
            FROM
                TENVAIR.T_ENV_AIRDATA_REGION_DAY
            WHERE
                CODE_REGION = '510100000000' AND
                MONITORTIME >= CONVERT(DATETIME,#{startTime}, 120) AND
                <![CDATA[MONITORTIME <=  CONVERT(DATETIME,#{endTime}, 120)]]>
        ) B  ON A.MONITORTIME= B.MONITORTIME
        ORDER BY A.MONITORTIME ASC
    </select>
</mapper>